@charset "utf-8";
/* *******************************************************
 * filename : layout.css
 * description : 전체 레이아웃 CSS
 * date : 2018-01-16
******************************************************** */

@import url("./font.css");	/* 나눔고딕 */ 

/* layout */
body, table, th, td, button, select, input, textarea {
	font-family:'Noto Sans KR', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;
	font-size:13px;
	color:#666;
	-webkit-text-size-adjust:none;
}

body { background-color:#fff; }
#wrap {overflow:hidden; width:100%; min-width:320px; position:relative; } /* min-width 홈페이지 컨텐츠 가로값에 맞게 변경 */

/* ****************** 공통클래스 ********************** */
.area{ max-width:1200px; margin:0px auto;} /* width 홈페이지 컨텐츠 가로값에 맞게 변경 */
.area-box{ max-width:1600px; margin:0px auto; }
.clearfix{*zoom:1;}
.clearfix:after{clear:both; display:block; content:"";}
.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.trans200{-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s}
.trans300{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
.trans400{-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s}
.trans500{-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}
.material-icons{line-height:inherit; color:inherit; vertical-align:middle;}
.text-ellipsis{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.table-layout{display:table; width:100%; height:100%; }
.table-cell-layout{display:table-cell; width:100%; height:100%; vertical-align:middle;}
.over-img{overflow:hidden;}
.over-img img{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
a:hover .over-img img{
	-ms-transform: scale(1.1) rotate(0.02deg);
	  -o-transform: scale(1.1) rotate(0.02deg);
	  -moz-transform: scale(1.1) rotate(0.02deg);
	  -webkit-transform: scale(1.1) rotate(0.02deg);
	  transform: scale(1.1) rotate(0.02deg);
}

/* ****************** HEADER ********************** */
#header{position:relative; height:70px; }
#headerInnerWrap{position:absolute; top:0; left:0; height:70px; width:100%; z-index:99; background-color:#fff; -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
#headerInner{position:relative; height:100%; max-width:1600px; margin:0px auto; padding:0 15px; }
#header .logo{position:relative; z-index:100; float:left; padding:23px 0; }		/* padding값 적절히 바꿔주세요 */
#header .logo a{display:block; }
#header .logo img{display:block; vertical-align:top;}

/* -------- Header :: UTIL BOX -------- */
.header-util-box{position:absolute; top:50%; right:15px; margin-top:-16px; z-index:100;}

/* Header :: 검색버튼 */
.header-search-box{position:relative; float:left; margin-left:10px; z-index:101; }
.header-search-box i{font-size:24px; letter-spacing:-0.15px; color:#fff;}
.header-search-open-btn{ color:#333; height:32px;}
.header-search-open-btn i{color:#333;}
.header-search-inner{position:absolute; top:0px; right:0; width:200px; height:100%;  opacity:0;filter:Alpha(opacity=0); visibility:hidden; -webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}	
.header-search-inner .header-search-inner-box{
	overflow:hidden; height:100%; background-color:#333;  padding-right:60px; 
	-webkit-border-radius:30px;-moz-border-radius:30px;-o-border-radius:30px;border-radius:30px; 
	-webkit-transition:all 0.5s;	-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s
}
.header-search-inner .header-search-word{height:30px; width:100%; vertical-align:top; background-color:transparent; border:0; color:#fff; font-size:13px; font-weight:300; text-indent:20px;}
.header-search-inner .header-search-word::placeholder{color:#fff;}
.header-search-inner .header-search-btn{position:absolute; top:0px; right:5px; width:32px; height:32px;}
.header-search-inner .header-search-close-btn{position:absolute; top:0px; right:0; width:32px; height:32px; background-color:#555; color:#fff; -webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%; }
.header-search-box.open .header-search-inner{display:block;}
/* 검색 open */
.header-search-box.open .header-search-inner{visibility:visible; opacity:1.0;filter:Alpha(opacity=100);}
@media all and ( min-width: 801px ){
	.header-search-box.open .header-search-inner .header-search-inner-box{
		-ms-transform: translateX(-38px);
		  -o-transform: translateX(-38px);
		  -moz-transform: translateX(-38px);
		  -webkit-transform: translateX(-38px);
		  transform: translateX(-38px);
	}
}

/* Header :: 언어선택 */
.header-lang {position:relative; float:left; width:124px; height:30px; border:1px solid #5c5c5c; border-color:#333; z-index:100; margin-left:10px; }
.header-lang .lang-open-btn {overflow:hidden; position:relative; display:block; height:100%; padding:0 10px; font-size:10px; line-height: 30px; color:#333; }
.header-lang .lang-open-btn i {display:inline-block; margin-right: 6px; vertical-align: middle; font-size:20px; margin-top:-2px; }
.header-lang .lang-open-btn .arrow{position:absolute; top:0px; right:0px;}
.header-lang .lang-open-btn .arrow i{font-size:16px;}
.header-lang > ul {position:absolute; top:30px; left:-1px; z-index:10; width:100%; border:1px solid #5c5c5c; background-color:#fff; opacity:0;filter:Alpha(opacity=0); visibility:hidden; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.header-lang > ul > li > a{display:block; padding:0 10px; font-size:10px; line-height: 30px; color:#333;}
.header-lang > ul > li > a:hover{background-color:#f2f2f2; }
.header-lang.open .lang-open-btn .arrow i{transform:rotate(180deg); margin-top:-3px;}
.header-lang.open > ul {opacity:1;filter:Alpha(opacity=100); visibility:visible;}

/* Header :: 사이트맵(기본형 or 커스텀) */
.sitemap-line-btn{float:left; width:32px; height:32px; margin-left:10px}
.sitemap-line-btn .line{display:block; width:18px; height:2px; background-color:#333; border-radius:5px; margin: 3px auto;}
.sitemap-custom-btn{float:left; width:32px; height:32px; color:#333; border:1px solid #5c5c5c; border-color:#333; margin-left:10px}
.sitemap-custom-btn i{font-size:30px;}

/* -------- Header :: GNB(PC) -------- */
.gnb-overlay-bg{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:97;}	/* gnb overlay BG */
#gnbBg{display:none; position:absolute; left:0; top:68px; width:100%; height:300px; background:#ff6100; border-bottom:1px solid #111; z-index:98}	/* gnb 2depth BG */
#gnb{position:absolute; text-align:center; top:0; left:0px; width:100%; z-index:99;}
#gnb > ul{display:inline-block; *display:inline;*zoom:1;}
#gnb > ul > li{position:relative; float:left; }
#gnb > ul > li > a{position:relative; z-index:100; display:block; height:68px; line-height:68px; padding:0 50px; text-align:center; color:#333; font-size:20px; letter-spacing:-0.55px; font-weight:500; -webkit-transition:font-size 0.4s;-moz-transition:font-size 0.4s;-o-transition:font-size 0.4s;-ms-transition:font-size 0.4s;transition:font-size 0.4s }
#gnb > ul > li > a:hover, #gnb > ul > li.on > a{color:#fff; background-color:#ff6100;}
/* GNB :: 2차 전체메뉴 */
#gnb.total-menu > ul > li .gnb-2dep{
	display:none; 
	position:absolute; 
	top:65px; 
	left:0px; 
	z-index:99;
	width:100%; 
	height:300px;
	text-align:left; 
}
#gnb.total-menu > ul > li:hover .gnb-2dep{background-color:rgba(255,255,255,0.2);}
/* GNB :: 2차 각각메뉴 */
#gnb.each-menu > ul > li .gnb-2dep{
	display:none;
	position:absolute; 
	top:65px; 
	left:0px; 
	z-index:99;
	width:100%; 
	text-align:left; 
	background-color:#ff6100; 
}
#gnb > ul > li .gnb-2dep ul{padding:13px 0px;}
#gnb > ul > li .gnb-2dep ul li{position:relative; padding:10px;}
#gnb > ul > li .gnb-2dep ul li a{ display:block; text-align:center; color:#fff; font-size:16px; -webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s}
#gnb > ul > li .gnb-2dep ul li a:hover{text-decoration:underline;}

/* -------- Header :: GNB(Mobile) -------- */
.nav-open-btn{display:none;}
#gnbM{display:none}

/* -------- Header :: 스타일변경 -------- */
/* Header :: 헤더가 비주얼 배경위에 있는 스타일 */
#header.fixed-header {position:fixed; top:0; left:0; width:100%; z-index:99;}
#header.fixed-header #headerInnerWrap{background-color:transparent; background-color:rgba(0,0,0,0.1); }
#header.fixed-header .header-search-open-btn{color:#fff; border-color:rgba(255,255,255,0.2);}
#header.fixed-header .header-lang {border-color:rgba(255,255,255,0.2); }
#header.fixed-header .header-lang .lang-open-btn{color:#fff;}
#header.fixed-header .header-lang > ul {border-color:rgba(255,255,255,0.6);}
#header.fixed-header .sitemap-line-btn .line{background-color:#fff}
#header.fixed-header .sitemap-custom-btn{color:#fff; border-color:rgba(255,255,255,0.2); }
#header.fixed-header #gnb{border-color:rgba(255,255,255,0.2);}
#header.fixed-header #gnb > ul > li > a{color:#fff;}

/* ****************** FOOTER ********************** */
#footer{background-color:#fff;}
#footerInner{position:relative; }
.footer-left-con{float:left; }
.footer-right-con{float:right;}

/* -------- FOOTER :: 상단 -------- */
#footerTop{background-color:#f2f2f2; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:15px 0; }
/* Footer :: TOP버튼 */
.to-top-btn{
	position:fixed; bottom:-100px; right:15px; display:block; width:46px; height:46px; background-color:#d7d7d7; text-align:center; line-height:46px; color:#fff; z-index:99;
	opacity:0;filter:Alpha(opacity=0);
	-webkit-transition:all 0.6s;-moz-transition:all 0.6s;-o-transition:all 0.6s;-ms-transition:all 0.6s;transition:all 0.6s
	/* -webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%; */
}
.to-top-btn.fixed{bottom:15px; opacity:1.0;filter:Alpha(opacity=100);}

/* Footer :: 푸터로고 */
.foot-logo{float:left; padding-right:40px;}

/* Footer :: 푸터메뉴 */
.foot-menu{float:left; }
.foot-menu li{float:left; position:relative; padding-left:40px; line-height:35px;}
/* .foot-menu li:before{display:inline-block; content:""; margin:-3px 10px 0 10px;  color:#ccc; width:5px; height:5px; background-color:#636363; vertical-align:middle; border-radius:5px; } */ /* dot 형태 */ 
.foot-menu li:before{position:absolute; top:50%; left:18px; width:1px; height:10px; margin-top:-5px; background-color:#ddd;  content:"";} /* line 형태 */ 
.foot-menu li:first-child{padding-left:0}
.foot-menu li:first-child:before{display:none} 
.foot-menu li a{color:#aaa; font-size:16.5px;}
.foot-menu li a b{color:#333; font-weight:500;}

/* Footer :: SNS 리스트 */
.foot-sns-menu{}
.foot-sns-menu li{float:left; margin-left:5px}
.foot-sns-menu li:first-child{margin-left:0}
.foot-sns-menu li img{width:35px;}

/* -------- FOOTER :: 하단 -------- */
#footerBottom{ padding:25px 0; }
/* Footer :: 왼쪽정보 */
.footer-address p{color:#2c2c2c; font-size:14.5px; line-height:22px; padding-bottom:10px;}
.footer-address span{display:inline-block; margin-right:15px}
.footer-address a{color:inherit}
.footer-caution-txt{color:#888; font-size:12.5px; padding-bottom:10px;}
.footer-copyright{font-size:13px;}
.footer-copyright b{color:#ff6100}
/* Footer :: 오른쪽정보 :: 패밀리사이트 */
.family-site-box{/* position:absolute; top:20px; right:0;*/ position:relative; width:215px; text-align:left; letter-spacing:-0.25px;}
.family-site-box .family-site-open-btn{display:block; height:50px; line-height:50px; text-indent:10px; font-size:14.3px; border:1px solid #111; background-color:#111; color:#fff; }
.family-site-box .family-site-open-btn i{position:absolute; right:3px; top:50%; margin-top:-12px;}
.family-site-box.open .family-site-open-btn i{transform:rotate(180deg); right:-5px}
.family-site-list{position:absolute; bottom:52px; left:0px; width:100%;  padding:10px 0; background-color:#fff; border:1px solid #ddd; border-bottom:0;  z-index:11; display:none; box-sizing:border-box;}
.family-site-list a{display:block; padding:10px; color:#333; font-size:12px;}
.family-site-list a:hover{color:#000; text-decoration:underline;}


/* ****************** SUB LAYOUT ********************** */
/*  SUB LAYOUT :: 비주얼 */
#visual{width:100%; height:406px; background-size:cover !important;}
#visual .visual-txt-con{position:relative; text-align:center; display:table; width:100%; height:100%; letter-spacing:-0.5px; color:#fff;}
#visual .visual-tit{font-weight:600; font-size:38px; padding-bottom:30px;}
#visual .visual-sub-txt{font-size:16px; font-weight:300; opacity:0.6;filter:Alpha(opacity=60) }

/*  SUB LAYOUT :: 비주얼 (스타일02) */
#visual.visual-style02 .visual-txt-con{text-align:left;}
#visual.visual-style02 .visual-tit{padding-top:150px}

/*  SUB LAYOUT :: 이전페이지,다음페이지 버튼 */
.sub-page-controls-btn{position:absolute; top:50%; height:20px; margin-top:-10px; -webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s;} /* margin-top:수정*/
.sub-page-controls-btn.sub-prev-page-btn{left:0; }
.sub-page-controls-btn.sub-next-page-btn{right:0; }
.sub-page-controls-btn .sub-page-name{vertical-align:middle; color:#fff; font-size:14px; font-weight:400;  }
.sub-page-controls-btn span{color:#fff; vertical-align:middle;}
.sub-page-controls-btn span i{margin-top:-2px; font-size:30px;}
.sub-page-controls-btn.sub-prev-page-btn:hover{margin-left:-10px}
.sub-page-controls-btn.sub-next-page-btn:hover{margin-right:-10px}

/*  SUB LAYOUT :: 서브메뉴(스타일1) */
#sideMenuM{display:none}
#sideMenu{width:100%;height:70px; border-bottom:1px solid #b9b9ba;}
#sideMenu .side-menu-inner{text-align:center;}
#sideMenu .side-menu-inner > ul{display:inline-block; *display:inline;*zoom:1;}
#sideMenu .side-menu-inner > ul > li{float:left; max-width:200px;} /* max-width 자유롭게 수정 */
#sideMenu .side-menu-inner > ul > li > a{
	display:block; display:table; height:69px; line-height:1.2; color:#333; font-size:18px; letter-spacing:-0.5px; font-weight:400; padding:0 25px; border-bottom:2px solid transparent;
	-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s;
}
#sideMenu .side-menu-inner > ul > li > a > span{display:table-cell; vertical-align:middle; }
#sideMenu .side-menu-inner > ul > li > a:hover, #sideMenu .side-menu-inner > ul > li.on > a{ color:#ff3600; border-bottom-color:#ff3600;}

/*  SUB LAYOUT :: 서브메뉴(스타일2) */
#topMenuCon{border-bottom:1px solid #ddd}
#topMenu{display:block; position:relative; height:70px; }
#topMenu .location-to-home-btn{float:left; width:85px; height:70px; background-color:#fff; text-align:center; border-right:1px solid #ddd; border-left:1px solid #ddd;}
#topMenu .location-to-home-btn i{color:#797979; font-size:30px; line-height:70px;}
#topMenu .menu-location{position:relative; float:left; width:260px;}
#topMenu .menu-location > .cur-location{position:relative; display:block; height:70px; padding-left:10px; border-right:1px solid #ddd;}
#topMenu .menu-location.location1 > .cur-location{}
#topMenu .menu-location > .cur-location span{line-height:70px; color:#000; font-weight:400; font-size:18px; letter-spacing:-0.5px;}
#topMenu .menu-location > .cur-location .arrow{position:absolute; top:50%; right:10px; width:20px; height:20px;margin-top:-8px; font-size:20px;}
#topMenu .menu-location > .cur-location.open .arrow{transform:rotate(-180deg); margin-top:-10px;}
#topMenu .menu-location .location-menu-con{display:none; position:absolute; top:70px; left:-1px; width:calc(100% - 1px); border:1px solid #ddd; background-color:#fff; z-index:11; }
#topMenu .menu-location .location-menu-con li a{display:block; padding:10px; font-size:15px;}
#topMenu .menu-location .location-menu-con li.on{position:relative;}
#topMenu .menu-location .location-menu-con li.on a{padding-left:25px; color:#ff6100; font-weight:500;}
#topMenu .menu-location .location-menu-con li.on a:before{content:""; position:absolute; top:50%; left:10px; width:7px; height:3px; margin-top:-1px; background-color:#ff6100}
#topMenu .sub-link-btn{float:right; height:70px; line-height:70px; padding:0 20px; background-color:#ff6100; color:#fff; font-size:18px; letter-spacing:-0.5px;}

/* SUB LAYOUT :: 서브메뉴(스타일3) */
#sideMenuM{display:none}
#sideMenuList{width:100%;height:60px; border-bottom:1px solid #ddd; background-color: #fff;}
#sideMenuList .side-menu-inner{text-align:center;}
#sideMenuList .side-menu-inner > ul{/* display:inline-block; *display:inline;*zoom:1;  width: 100%;*/}
#sideMenuList .side-menu-inner > ul > li{/* float:left; */ display:inline-block; width: 14.28%; margin-left:-4px; border-right:1px solid #ddd;
	box-sizing:border-box;
	-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s;
}
#sideMenuList .side-menu-inner > ul > li:first-child {width:14.32%; border-left: 1px solid #ddd; margin-left:0}
#sideMenuList .side-menu-inner > ul > li > a{
	display:table; vertical-align: middle; width: 100%; height: 61px; line-height: 23px; color:#333; font-size:17px; letter-spacing:-0.65px; font-weight:400;
}
#sideMenuList .side-menu-inner > ul > li > a span{display:table-cell; vertical-align:middle;}
#sideMenuList .side-menu-inner > ul > li:hover, #sideMenuList .side-menu-inner > ul > li.on{  background-color: #ff6100;}
#sideMenuList .side-menu-inner > ul > li:hover > a, #sideMenuList .side-menu-inner > ul > li.on > a{ color:#fff;}
/*  SUB LAYOUT :: 상단정보 (공통) */
#contentInfoCon{position:relative; padding:60px 0;}
#contentInfoCon .content-tit{color:#333; font-size:38px; font-weight:600; letter-spacing:-0.6px;}
#contentInfoCon .content-sub-tit{color:#888; font-weight:300; padding-top:20px; font-size:16px; letter-spacing:-0.8px; word-break:keep-all;}
/*  SUB LAYOUT :: 상단정보(스타일01) */
#contentInfoCon.content-info-style01{text-align:center; border-bottom:1px solid #ddd; }
#contentInfoCon.content-info-style01:after{position:absolute; left:50%; bottom:-1px; content:""; width:58px; height:2px; margin-left:-29px; background-color:#040508}
/*  SUB LAYOUT :: 상단정보(스타일02) */
#contentInfoCon.content-info-style02{text-align:left; }
#contentInfoCon.content-info-style02 .content-tit{position:relative; display:inline-block; vertical-align:middle; padding-bottom:35px;}
#contentInfoCon.content-info-style02 .content-tit:after{position:absolute; bottom:0px; left:0px; content:""; width:58px; height:2px; background-color:#040508; }
#contentInfoCon.content-info-style02 .content-sub-tit{display:inline-block; margin-left:30px; padding-top:0;}
/*  SUB LAYOUT :: 상단정보(스타일03) */
#contentInfoCon.content-info-style03{overflow:hidden;}
#contentInfoCon.content-info-style03 .content-tit{float:left;}
.location{overflow:hidden; float:right; padding-top:18px;}
.location li{display:inline-block; vertical-align:middle; color:#a7a7a7; font-size:13px; letter-spacing:-0.5px;}
.location li a{color:inherit;}
.location li i{font-size:18px; margin-top:-2px;}
.location li:before{display:inline-block; content:">"; vertical-align:middle; margin:0px 8px 0 10px; font-family:"나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif; color:#c0c0c0; font-size:12px;}
.location li:first-child:before{display:none;}
.location li:last-child{color:#333;}

/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
#content{padding-bottom:100px}

/* ****************** MODAL LAYERPOPUP ********************** */
/* modal layer */
.modal-fixed-pop-wrapper{display:none; overflow-y:scroll; overflow-x:hidden;  position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999; background:#000; background:rgba(0,0,0,0.8);}
.modal-fixed-pop-inner{position:absolute; display:table; width:100%; height:100%; text-align:center;}
.modal-inner-box{ position:relative; display:table-cell; vertical-align:middle;}
.modal-loading{position:absolute; top:50%; left:50%; margin:-25px 0 0 -25px; z-index:10000;}
.modal-inner-content{text-align:left;}
.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 8px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
/* modal layer content */
.footer-modal-content{position:relative; width:96%; max-width:1000px; margin:20px auto; background-color:#fff; }
.footer-modal-content h1{height:60px; line-height:60px; font-size:24px; font-weight:600; letter-spacing:-0.5px; text-align:center; padding:0; background-color:#777; color:#fff;}
.modal-close-btn{position:absolute; top:11px; right:10px; color:#fff; }
.modal-close-btn i{font-size:38px;}
.modal-close-btn i:hover {color:#fff}
.footer-inner-box{padding:30px; }
.footer-inner{padding:20px; height:400px; overflow-y:auto; overflow-x:hidden; border:1px solid #ddd; }

/* 사이트맵 */
.sitemap-wrapper{padding:30px;}
.sitemap-wrapper > ul{overflow:hidden;}
.sitemap-wrapper > ul > li{float:left; width:20%; text-align:center;}	/* 메뉴 갯수에 맞게 %로 계산, 두줄로 들어갈 경우 height값 설정 */
.sitemap-wrapper.menu4 > ul > li{width:25%;}
.sitemap-wrapper.menu6 > ul > li{width:16.6%;}
.sitemap-wrapper.menu7 > ul > li{width:14.2%;}
.sitemap-wrapper > ul > li > h2{color:#191919; margin:0 2% 20px 2%; padding-bottom:20px; font-size:16px; border-bottom:1px solid #888; letter-spacing:-1.0px; margin-bottom:20px; font-weight:500;}
.sitemap-wrapper > ul > li .sitemap-2dep {padding:0 5%;}
.sitemap-wrapper > ul > li .sitemap-2dep a{display:block; padding:10px 0; color:#666; font-size:13px; font-weight:400; line-height:1.2em;}
.sitemap-wrapper > ul > li .sitemap-2dep a:hover{color:#000; text-decoration:underline;}
