@charset "utf-8";
/* *******************************************************
 * filename : layout.css
 * description : 전체 레이아웃 CSS
 * date : 2021-06-14
******************************************************** */

/* ****************** LAYOUT ********************** */
::selection {
    background: #555;   
    color: #fff;
}
::-moz-selection {
    background: #555;    
    color: #fff;
}
body, table, th, td, button, select, input, textarea {
	font-family:'Noto Sans KR', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;
	font-size:13px;
	color:#666;
	-webkit-text-size-adjust:none;
	word-break:keep-all;
}
body { background-color:#fff; }
table, th, td{word-break:break-word;}
#wrap {overflow:hidden; width:100%; height:100%; min-width:320px; position:relative; }
.area{ max-width:1200px; margin:0px auto;} /* width 홈페이지 컨텐츠 가로값에 맞게 변경 */
.area-box{ max-width:1600px; margin:0px auto; }

/* Fullpage Layout */
.fullpage-html{overflow:hidden; height:100%;}
.fullpage-html #wrap{position:static;}

/* ****************** HEADER ********************** */
#header{
	position:relative; /* position:absolute; */ height:100px; top:0; left:0; width:100%; z-index:9999; 
}
#fullpage #header{
	position:fixed;
}
#headerInnerWrap{
	position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:9999; background-color:#fff; 
	-webkit-transition:background-color 0.3s;
	transition:background-color 0.3s
}
#headerInner{position:relative; height:100%; margin:0px auto; padding:0 45px; }
#header .logo{position:relative; z-index:100; float:left; padding-top:30px; }
#header .logo a{display:block; }
#header .logo img{display:block; vertical-align:top;}

/* -------- Header :: UTIL BOX -------- */
.header-util-box{position:absolute; top:50%; right:30px; margin-top:-16px; z-index:100;}

/* Header :: 검색버튼 */
.header-search-box{position:relative; float:left; margin-left:10px; z-index:101; }
.header-search-box i{font-size:22px;}
.header-search-open-btn{width:32px; height:32px; color:#333;  border:1px solid #333}
.header-search-inner{
	overflow:hidden; 
	position:absolute; top:0px; right:0; 
	width:200px; height:32px; padding-right:65px; 
	box-sizing:border-box;
	border:1px solid #333;
	background-color:#fff;
	opacity:0;filter:Alpha(opacity=0); 
	visibility:hidden;
	-webkit-transition:all 0.5s;
	transition:all 0.5s
}	
.header-search-inner .header-search-word{height:30px; width:100%; vertical-align:top; background-color:transparent; border:0; color:#333; font-size:13px; font-weight:300; text-indent:10px;}
.header-search-inner .header-search-word::placeholder{color:#333;}
.header-search-inner .header-search-btn{position:absolute; top:0px; right:32px; width:32px; height:32px;}
.header-search-inner .header-search-btn i{font-size:20px; line-height:32px;}
.header-search-inner .header-search-close-btn{position:absolute; top:0px; right:0px; width:32px; height:32px; background-color:#333; color:#fff; border:1px solid #333; }
.header-search-inner .header-search-close-btn i{color:#fff;}
/* 검색 open */
.header-search-box.open .header-search-inner{
	opacity:1.0;filter:Alpha(opacity=100); 
	visibility:visible; 
	-webkit-transition:visibility 0.5s, opacity 0.5s;	
	transition:visibility 0.5s, opacity 0.5s;
}
@media all and ( min-width: 801px ){
	.header-search-inner .header-search-inner{
		  -webkit-transform: translateX(0);
		  transform: translateX(10px);
		-webkit-transition:all 0.2s;
		transition:all 0.2s;
	}
	.header-search-box.open .header-search-inner{
		  -webkit-transform: translateX(0);
		  transform: translateX(0);
	}
}

/* Header :: 언어선택 */
.header-lang {position:relative; float:left; width:124px; height:30px; border:1px solid #5c5c5c; border-color:#333; z-index:100; margin-left:10px; }
.header-lang .lang-open-btn {overflow:hidden; position:relative; display:block; width:100%; text-align:left; height:100%; padding:0 10px; font-size:10px; line-height: 30px; color:#333; }
.header-lang .lang-open-btn i {display:inline-block; margin-right: 6px; vertical-align: middle; font-size:20px; margin-top:-2px; }
.header-lang .lang-open-btn .arrow{position:absolute; top:0px; right:0px;}
.header-lang .lang-open-btn .arrow i{font-size:16px;}
.header-lang > ul {display:none; position:absolute; top:30px; left:-1px; z-index:10; width:100%; border:1px solid #5c5c5c; background-color:#fff;}
.header-lang > ul > li > a{display:block; padding:0 10px; font-size:10px; line-height: 30px; color:#333;}
.header-lang > ul > li > a:hover{background-color:#f2f2f2; }
.header-lang.open .lang-open-btn .arrow i{transform:rotate(180deg); margin-top:-3px;}

/* Header :: 언어선택2 */
.header-lang-list {position:relative; float:left; z-index:100; margin:8px 0 0 22px;}
.header-lang-list li{float:left; font-size:13px; letter-spacing:-0.5px; font-weight:400; color:#000; margin-left:13px;}
.header-lang-list li:first-child{margin-left:0}
.header-lang-list li a{display:block; position:relative; opacity:0.4; color:#000; transition:all 0.2s;}
.header-lang-list li a:after{
	position:absolute; bottom:-8px; left:-2px; right:-2px; 
	height:2px; 
	background-color:#000; 
	content:""; 
	transform:scaleX(0); 
	transition:transform 0.3s; 
	transform-origin:100% 0;
}
.header-lang-list li.cur a,
.header-lang-list li a:hover{opacity:1.0;}
.header-lang-list li.cur a:after,
.header-lang-list li a:hover:after{transform:scaleX(1); transform-origin:0 0;}

/* Header :: 사이트맵버튼 */
.sitemap-line-btn{float:left; width:32px; height:32px; margin-left:10px; box-sizing:border-box; padding-top:6px;}
.sitemap-line-btn .line{display:block; width:18px; height:2px; background-color:#333; border-radius:5px; margin: 3px auto; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
/* active */
.sitemap-open-btn.active{position:relative; z-index:100000;}
.sitemap-open-btn.active .line:nth-child(2), 
.sitemap-open-btn.active .line:nth-child(4){opacity: 0;}
.sitemap-open-btn.active .line:nth-child(1){
	 -webkit-transform: translateY(5px) rotate(45deg);
	  transform: translateY(5px) rotate(45deg);
}
.sitemap-open-btn.active .line:nth-child(3){
	 -webkit-transform: translateY(-5px) rotate(-45deg);
	  transform: translateY(-5px) rotate(-45deg);
}

/* -------- Header :: GNB(PC) -------- */
.gnb-overlay-bg{position:fixed; top:0; left:0; width:100%; height:100%; visibility:hidden; opacity:0;filter:Alpha(opacity=0); background:rgba(0,0,0,0.5); z-index:9997;  -webkit-transition:all 0.3s; transition:all 0.3s; }	/* gnb overlay BG */
.gnb-overlay-bg.open{visibility:visible; opacity:1.0;filter:Alpha(opacity=100);}
#gnb{position:absolute; text-align:center; top:0; left:0px; width:100%; z-index:99;}
#gnb > ul{display:inline-block; *display:inline;*zoom:1;}
#gnb > ul > li{position:relative; float:left; word-break:keep-all;}
#gnb > ul > li > a{
	position:relative; z-index:100; display:block; line-height:100px; padding:0 50px; text-align:center; color:#333; font-size:20px; letter-spacing:-0.55px; font-weight:500; -webkit-transition:all 0.5s; transition:all 0.5s;
}
#gnb > ul > li > a:hover,
#gnb > ul > li > a:focus,
#gnb > ul > li.on > a{color:#f57f20;}

/* GNB :: 2차 전체메뉴 */
#gnbBg{
	overflow:hidden; position:absolute; left:0; top:0px; width:100%; height:0; background:#fff; z-index:98;
	opacity:0;filter:Alpha(opacity=0);
	-webkit-transition:height 0.3s ease-in-out, opacity 0.2s ease-in-out;
	transition:height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
#gnbBg:after{position:absolute; top:100px; width:100%; left:0; height:1px; background-color:#ddd; content:"";}
#gnb.total-menu > ul > li .gnb-2dep{
	position:absolute; 
	top:100px; 
	left:0px; 
	z-index:99;
	width:100%; 
	text-align:left; 
	border-right:1px solid #ddd;
	opacity:0;filter:Alpha(opacity=0);
	height:0;
	-webkit-transition: all 0.2s 0s;
    transition: all 0.2s 0s;
	visibility:hidden;
}
#gnb.total-menu > ul > li:first-child .gnb-2dep{border-left:1px solid #ddd;}
#gnb.total-menu > ul > li .gnb-2dep:before {
	content:""; position:absolute; left:0; top:0px; width:0; left:50%; height:1px; background-color:#f57f20; 
	-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s; z-index:10;
}
#gnb.total-menu > ul > li:hover .gnb-2dep:before {width:100%; left:0;}
#gnb.total-menu > ul > li .gnb-2dep ul{padding:13px 0px;}
#gnb.total-menu > ul > li .gnb-2dep ul li{position:relative;}
#gnb.total-menu > ul > li .gnb-2dep ul li a{ display:block;  padding:7px 15px; color:#333; font-size:14px; letter-spacing:-0.5px; font-weight:400; line-height:1.3; -webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s}
#gnb.total-menu > ul > li .gnb-2dep ul li a:hover{color:#f57f20;}

/* GNB :: 2차메뉴 Over (높이변경) */
#gnb.open #gnbBg{height:350px; opacity:1.0;filter:Alpha(opacity=100);}
#gnb.open > ul > li .gnb-2dep{
	height:250px; opacity:1.0;filter:Alpha(opacity=100);
	visibility:visible;
	-webkit-transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
}

/* GNB :: 2차 각각메뉴 */
#gnb.each-menu > ul > li .gnb-2dep{
	/* display:none; */
	position:absolute; 
	top:80px; 
	left:0px; 
	z-index:99;
	width:100%; 
	text-align:left; 
	visibility:hidden;
	opacity:0;filter:Alpha(opacity=0);
	-webkit-transition:all 0.2s cubic-bezier(0.4, 0, 1, 1);
	transition:all 0.2s cubic-bezier(0.4, 0, 1, 1);
}
#gnb.each-menu > ul > li .gnb-2dep:before{
	content:""; 
	position:absolute; top:0px; left:0px; right:0px; 
	height:0; 
	background-color:#f57f20; 
	-webkit-transition:all 0.2s cubic-bezier(0.4, 0, 1, 1); 
	transition:all 0.2s cubic-bezier(0.4, 0, 1, 1);
}
#gnb.each-menu > ul > li .gnb-2dep ul{padding:15px 0px;}
#gnb.each-menu > ul > li .gnb-2dep ul li{position:relative; padding:8px 10px; opacity:0;filter:Alpha(opacity=0);-webkit-transition:all 0s 0s;-moz-transition:all  0s 0s;-o-transition:all  0s 0s;-ms-transition:all  0s 0s;transition:all  0s 0s; }
#gnb.each-menu > ul > li .gnb-2dep ul li a{display:block; color:#fff; font-size:14px; font-weight:400; text-align:center; line-height:1.4; opacity:0.9;filter:Alpha(opacity=90);}
#gnb.each-menu > ul > li .gnb-2dep ul li a:hover{opacity:1.0;filter:Alpha(opacity=100);}
/* over했을때 */
#gnb.each-menu > ul > li .gnb-2dep.open{visibility:visible; opacity:1.0;filter:Alpha(opacity=100);}
#gnb.each-menu > ul > li .gnb-2dep.open:before{height:100%;}
#gnb > ul > li .gnb-2dep.open ul li{opacity:1.0;filter:Alpha(opacity=100); -webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s;-ms-transition:all 0.8s;transition:all 0.8s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(1){-webkit-transition-delay: 0.1s; transition-delay:0.1s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(2){-webkit-transition-delay: 0.2s; transition-delay:0.2s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(3){-webkit-transition-delay: 0.3s; transition-delay:0.3s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(4){-webkit-transition-delay: 0.4s; transition-delay:0.4s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(5){-webkit-transition-delay: 0.5s; transition-delay:0.5s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(6){-webkit-transition-delay: 0.6s; transition-delay:0.6s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(7){-webkit-transition-delay: 0.7s; transition-delay:0.7s;}
#gnb > ul > li .gnb-2dep.open ul li:nth-child(8){-webkit-transition-delay: 0.8s; transition-delay:0.8s;}

/* -------- Header :: GNB(Mobile) -------- */
.nav-open-btn{display:none;}
#gnbM{display:none}

/* ****************** FOOTER ********************** */
/* -------- FOOTER :: 파트너리스트 -------- */
#footerPartnerListContent{padding:30px 0; border-top:1px solid #ddd;}
.footer-partner-list{position:relative; padding:0 65px;}
.footer-partner-list .partner-item{float:left; }
.footer-partner-list .partner-item-inner{position:relative; height:44px; padding:0 10px;}
.footer-partner-list .partner-item-inner span{display:block; position:relative; height:100%; width:100%; }
.footer-partner-list .partner-item-inner span img{position:absolute; top:0px; left:0px; bottom:0px; right:0px; max-width:100%; max-height:100%; margin:auto; }
.footer-partner-list .slick-arrow{	position:absolute; top:50%; margin-top:-24px; width:48px; height:48px; cursor:pointer; border:0; cursor:pointer; z-index:9;font-size:48px;}
.footer-partner-list .slick-arrow i{line-height:48px; vertical-align:top}
.footer-partner-list .slick-arrow.slick-prev{left:0px; }
.footer-partner-list .slick-arrow.slick-next{right:0px;}
.footer-partner-list i{color:#aaa; }

/* -------- FOOTER :: 레이아웃 -------- */
#footer{background-color:#fff;}
#footerInner{position:relative; }
.footer-left-con{float:left; }
.footer-right-con{float:right;}

/* Footer :: TOP버튼 */
.to-top-btn{
	position:fixed; bottom:-100px; right:15px; display:block; width:46px; height:46px; background-color:#fff; text-align:center; color:#333; z-index:99;
	border:1px solid #eee;
	box-sizing:border-box;
	opacity:0;filter:Alpha(opacity=0);
	-webkit-transition:all 0.6s;-moz-transition:all 0.6s;-o-transition:all 0.6s;-ms-transition:all 0.6s;transition:all 0.6s
	-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%;
}
.to-top-btn.bottom-fixed{bottom:15px; opacity:1.0;filter:Alpha(opacity=100);}
.to-top-btn i{display:inline-block; font-size:16px; line-height:46px; transition:all 0.3s}
.to-top-btn:hover i{transform:translateY(-3px)}
#fullpage .to-top-btn{display:none;}

/* -------- FOOTER :: 상단 -------- */
#footerTop{border-top:1px solid #ddd; padding:25px 0; }

/* Footer :: 푸터메뉴 */
.foot-menu{}
.foot-menu li{float:left; position:relative; padding-left:40px; line-height:35px;}
/* .foot-menu li:before{position:absolute; top:50%; left:18px; content:""; width:2px; height:2px; background-color:#636363; border-radius:50%; } */ /* dot 형태 */ 
.foot-menu li:before{position:absolute; top:50%; left:18px; width:1px; height:10px; margin-top:-5px; background-color:#ddd;  content:"";} /* line 형태 */ 
.foot-menu li:first-child{padding-left:0}
.foot-menu li:first-child:before{display:none} 
.foot-menu li a{color:#aaa; font-size:16.5px; letter-spacing:-0.5px;}
.foot-menu li a b{color:#333; font-weight:500;}

/* Footer :: 사이트맵 */
.footer-sitemap-list-con > ul > li{float:left; padding-left:60px;}
.footer-sitemap-list-con > ul > li:first-child{padding-left:0;}
.footer-sitemap-list-con > ul > li h3{margin-bottom:20px; color:#333; font-size:17px; font-weight:500; letter-spacing:-0.5px;}
.footer-sitemap-list-con > ul > li .sitemap-2dep li{margin-bottom:15px;}
.footer-sitemap-list-con > ul > li .sitemap-2dep li:last-child{margin-bottom:0}
.footer-sitemap-list-con > ul > li .sitemap-2dep li a{display:block; color:#aaa; font-size:14px; letter-spacing:-0.3px; transition:all 0.4s}
.footer-sitemap-list-con > ul > li .sitemap-2dep li a:hover{color:#f57f20;}

/* -------- FOOTER :: 하단 -------- */
#footerBottom{ padding:25px 0; }

/* Footer :: 푸터로고 */
.foot-logo{display:block; padding-bottom:20px;}
.footer-right-con .foot-logo{text-align:right;}

/* Footer :: 정보 */
.footer-address{margin-bottom:15px; letter-spacing:-0.5px;}
.footer-address .footer-address-txt{color:#444; font-size:14px; line-height:1.7; margin:0 -8px;}
.footer-address p{display:inline-block; vertical-align:middle; position:relative; margin:0 8px;}
.footer-address p:before{position:absolute; top:50%; left:-8px; width:1px; height:10px; margin-top:-5px; background-color:#ccc; content:"";}
.footer-address p:first-child:before{display:none;}
.footer-address a{color:inherit}

/* Footer :: 정보 style02 */
.footer-address-info-box{margin-bottom:15px; letter-spacing:-0.5px;}
.footer-address-list dl{display:inline-block; vertical-align:middle; color:#aaa; font-size:14px; line-height:1.7; margin-left:15px; }
.footer-address-list dl:first-child{margin-left:0}
.footer-address-list dl dt,
.footer-address-list dl dd{vertical-align:middle; display:inline-block;}
.footer-address-list dl dt{margin-right:7px; color:#666;}
.footer-address-list span{display:inline-block; margin-right:15px}
.footer-address-list a{color:inherit}

/* Footer :: Copyright */
.footer-copyright{font-size:13px; letter-spacing:-0.5px;}
.footer-copyright b{color:#f57f20}

/* Footer :: SNS 리스트 */
.foot-sns-menu{text-align:right;}
.foot-sns-menu li{/* float:left; */display:inline-block; vertical-align:middle; margin-left:5px}
.foot-sns-menu li:first-child{margin-left:0}
.foot-sns-menu li img{width:35px;}
.foot-sns-menu li a{display:block; width:35px; height:35px; -webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%; background-color:#444; color:#fff; line-height:35px; text-align:center;}
.foot-sns-menu li a i{font-size:20px; line-height:35px;}

/* Footer :: 패밀리사이트 */
.family-site-box{/* position:absolute; top:20px; right:0;*/ position:relative; width:215px; text-align:left; letter-spacing:-0.25px;}
.family-site-box .family-site-open-btn{display:block; width:100%; height:50px; line-height:50px; padding:0 20px; text-align:left; font-size:14px; border:1px solid #111; background-color:#111; color:#fff; box-sizing:border-box; }
.family-site-box .family-site-open-btn:after{position:absolute; right:10px; top:50%; transform:translateY(-50%); font-size:24px; font-family: 'xeicon'; content:"\e942";}
.family-site-box.open .family-site-open-btn:after{content:"\e945";}
.family-site-list{position:absolute; bottom:100%; left:0px; width:100%;  padding:10px 0; background-color:#fff; border:1px solid #ddd; border-bottom:0;  z-index:11; display:none; box-sizing:border-box;}
.family-site-list a{display:block; padding:10px 20px; color:#333; font-size:12px;}
.family-site-list a:hover{color:#000; text-decoration:underline;}

/* ****************** SUB LAYOUT ********************** */
/*  SUB LAYOUT :: 비주얼 */
#visual{position:relative; overflow:hidden; width:100%; height:410px; }
#visual .visual-img-con{
	position:absolute; 
	top:0px; 
	left:0px; 
	width:100%;
	height:100%;
	background-size:cover !important;
    -webkit-transform: scale(1.1,1.1); 
     transform: scale(1.1,1.1);
	-webkit-transition:transform 5000ms  ease-in-out ;
    transition:transform 5000ms ease-in-out ;	
}
#visual .visual-txt-con{position:relative; z-index:1; text-align:center; display:table; width:100%; height:100%; letter-spacing:-0.5px; color:#fff;}
#visual .visual-txt-container{position:relative; width:100%; }
#visual .visual-tit,
#visual .visual-sub-txt,
#visual .location{
	opacity:0;filter:Alpha(opacity=0);
    -webkit-transform: translateY(-30px); 
     transform: translateY(-30px);
	-webkit-transition:opacity 1.0s, transform 1.0s;
	transition:opacity 1.0s, transform 1.0s;
}
#visual .visual-tit{
	font-weight:600; 
	font-size:38px; 
	-webkit-transition-delay:0.3s;
	transition-delay:0.3s;
}
#visual .visual-sub-txt{
	font-size:16px; 
	font-weight:300; 
	padding-top:30px;
	-webkit-transition-delay:0.5s;
	transition-delay:0.5s;
}
#visual .location{
	-webkit-transition-delay:0.5s;
	transition-delay:0.5s;
}

/* SUB LAYOUT :: 상단효과 active */
#visual.active .visual-img-con{
    -webkit-transform: scale(1.0,1.0) rotate(0.002deg);
     transform: scale(1.0,1.0) rotate(0.002deg);
}
#visual.active .visual-tit,
#visual.active .visual-sub-txt,
#visual.active .location{
	opacity:1.0;filter:Alpha(opacity=100);
    -webkit-transform: translateY(0px); 
     transform: translateY(0px);
}

/* SUB LAYOUT :: 위치정보(location) */
.location{overflow:hidden; padding-top:18px;}
.location li{display:inline-block; vertical-align:middle; color:#a7a7a7; color:rgba(108, 108, 108, 0.63); font-size:13px; letter-spacing:-0.5px;}
.location li a{color:inherit;}
.location li i{font-size:18px; margin-top:-2px;}
.location li:before{font-family: 'xeicon'; display:inline-block;content: "\e93f"; position:relative; top:-1px; vertical-align:middle; margin:0px 10px 0 8px; color:#222; font-size:12px; opacity:0.5;filter:Alpha(opacity=50);}
.location li:first-child:before{display:none;}
.location li:last-child{color:#333;}

/*  SUB LAYOUT :: 이전페이지,다음페이지 버튼 */
.sub-page-controls-btn{position:absolute; top:50%; height:20px; margin-top:-10px; -webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s;} /* margin-top:수정*/
.sub-page-controls-btn.sub-prev-page-btn{left:0; }
.sub-page-controls-btn.sub-next-page-btn{right:0; }
.sub-page-controls-btn .sub-page-name{display:inline-block; vertical-align:middle; color:#fff; font-size:14px; font-weight:400;  }
.sub-page-controls-btn span{display:inline-block; color:#fff; vertical-align:middle;}
.sub-page-controls-btn span i{margin-top:-2px; font-size:30px;}
.sub-page-controls-btn.sub-prev-page-btn:hover{margin-left:-10px}
.sub-page-controls-btn.sub-next-page-btn:hover{margin-right:-10px}

/*  SUB LAYOUT :: 서브메뉴(스타일1) */
#topMenu01{position:relative; width:100%;height:70px; }
#topMenu01 .side-menu-inner{text-align:center; width:100%; height:69px; border-bottom:1px solid #ddd; background-color: #fff;}
#topMenu01 .side-menu-inner ul{display:flex; align-items:center; justify-content:center;}
#topMenu01 .side-menu-inner ul li{float:left; max-width:200px;} /* max-width 자유롭게 수정 */
#topMenu01 .side-menu-inner ul li > a{
	display:block; 
	display:table; 
	position:relative;
	width:100%;
	height:69px; 
	line-height:1.2; 
	color:#333; 
	font-size:17px; 
	letter-spacing:-0.5px; 
	font-weight:400; 
	word-break:keep-all;
	-webkit-transition:all 0.4s;
	transition:all 0.4s;
}
#topMenu01 .side-menu-inner ul li > a:before{
	position:absolute;
	bottom:-1px;
	left:50%;
	width:0;
	height:2px;
	background-color:#f57f20;
	content:"";
	-webkit-transition:all 0.4s;
	transition:all 0.4s;
}
#topMenu01 .side-menu-inner ul li > a > span{display:table-cell; vertical-align:middle; padding:0 25px; }
#topMenu01 .side-menu-inner ul li > a:hover, 
#topMenu01 .side-menu-inner ul li.on > a{color:#f57f20;}
#topMenu01 .side-menu-inner ul li > a:hover:before, 
#topMenu01 .side-menu-inner ul li.on > a:before{width:100%; margin-left:-50%;}


/* SUB LAYOUT :: 서브메뉴(스타일2) */
#topMenu02{position:relative; width:100%;height:70px; }
#topMenu02 .side-menu-inner{text-align:center; width:100%; height:69px; border-bottom:1px solid #ddd; background-color: #fff;}
#topMenu02 .side-menu-inner ul{display:flex; align-items:center; justify-content:center;}
#topMenu02 .side-menu-inner ul li{
	float:left;
	width: 16.66%; 
	border-right:1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	 box-sizing: border-box; 
	-webkit-transition:all 0.4s; 
	transition:all 0.4s;
}
#topMenu02 .side-menu-inner ul li:first-child {border-left: 1px solid #ddd;}
#topMenu02 .side-menu-inner ul li > a{
	display:block; 
	display:table; 
	position:relative;
	width:100%;
	height:69px; 
	line-height:1.2; 
	color:#333; 
	font-size:17px; 
	letter-spacing:-0.5px; 
	font-weight:400; 
	word-break:keep-all;
	-webkit-transition:all 0.4s; 
	transition:all 0.4s;
}
#topMenu02 .side-menu-inner ul li > a:before{
	position:absolute;
	bottom:-1px;
	left:50%;
	width:0;
	height:2px;
	background-color:#f57f20;
	content:"";
	-webkit-transition:all 0.4s;
	transition:all 0.4s;
}
#topMenu02 .side-menu-inner ul li > a > span{display:table-cell; vertical-align:middle; padding:0 15px; }
#topMenu02 .side-menu-inner ul li.on{background-color:#f2f2f2;}
#topMenu02 .side-menu-inner ul li > a:hover:before, 
#topMenu02 .side-menu-inner ul li.on > a:before{width:100%; width:calc(100% + 1px); margin-left:-50%;}
#topMenu02 .side-menu-inner ul li:hover > a, 
#topMenu02 .side-menu-inner ul li.on > a{color:#f57f20;}

/* SUB LAYOUT :: 서브메뉴(스타일3) */
#topMenu03{position:relative; width:100%;height:70px; }
#topMenu03 .side-menu-inner{text-align:center; width:100%; height:69px; border-bottom:1px solid #ddd; background-color: #fff;}
#topMenu03 .side-menu-inner ul{display:flex; align-items:center; justify-content:center; }
#topMenu03 .side-menu-inner ul li{
	float:left;
	width:25%;
	vertical-align:middle;
	border-right:1px solid #ddd;
	-webkit-transition:all 0.4s;
	transition:all 0.4s;
}
#topMenu03 .side-menu-inner ul li:first-child {border-left: 1px solid #ddd; margin-left:0}
#topMenu03 .side-menu-inner ul li > a{
	display:block; 
	display:table; 
	position:relative;
	width:100%;
	height:69px; 
	line-height:1.2; 
	color:#333; 
	font-size:17px; 
	letter-spacing:-0.5px; 
	font-weight:400; 
	word-break:keep-all;
	-webkit-transition:all 0.4s;
	transition:all 0.4s;
}
#topMenu03 .side-menu-inner ul li > a:before{
	position:absolute;
	bottom:-1px;
	left:50%;
	width:0;
	height:2px;
	background-color:#f57f20;
	content:"";
	-webkit-transition:all 0.4s;
	transition:all 0.4s;
}
#topMenu03 .side-menu-inner ul li > a > span{display:table-cell; vertical-align:middle; padding:0 15px; }
#topMenu03 .side-menu-inner ul li.on{background-color:#f2f2f2;}
#topMenu03 .side-menu-inner ul li > a:hover:before, 
#topMenu03 .side-menu-inner ul li.on > a:before{width:100%; margin-left:-50%;}
#topMenu03 .side-menu-inner ul li:hover > a, 
#topMenu03 .side-menu-inner ul li.on > a{color:#f57f20;}

/*  SUB LAYOUT :: 서브메뉴(스타일3) */
#topMenu04{position:relative; width:100%;height:70px; }
#topMenu04 .side-menu-inner{width:100%; height:69px; border-bottom:1px solid #ddd; background-color: #fff;}
#topMenu04 .location-to-home-btn{float:left; width:69px; height:69px; background-color:#fff; text-align:center; border-right:1px solid #ddd; border-left:1px solid #ddd;}
#topMenu04 .location-to-home-btn i{color:#f57f20; font-size:24px; line-height:69px;}
#topMenu04 .menu-location{position:relative; float:left; width:260px;}
#topMenu04 .menu-location > .cur-location{position:relative; display:block; width:100%; height:69px; padding:0 35px 0 20px; border-right:1px solid #ddd; text-align:left}
#topMenu04 .menu-location > .cur-location span{display:block; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:69px; color:#222; font-weight:400; font-size:18px; letter-spacing:-0.5px;}
#topMenu04 .menu-location > .cur-location .arrow{position:absolute; top:50%; right:10px; width:20px; height:20px;margin-top:-10px; font-size:20px;}
#topMenu04 .menu-location.open > .cur-location .arrow{transform:rotate(-180deg); margin-top:-10px;}
#topMenu04 .menu-location .location-menu-con{display:none; position:absolute; top:100%; left:-1px; right:0px; border:1px solid #ddd; border-top:0; background-color:#fff; z-index:11; padding-bottom:10px }
#topMenu04 .menu-location .location-menu-con li a{display:block; padding:10px 20px; font-size:15px; word-break:keep-all; line-height:1.5;}
#topMenu04 .menu-location .location-menu-con li.on{position:relative;}
#topMenu04 .menu-location .location-menu-con li.on a{color:#f57f20; font-weight:500;}
/* 선택된메뉴앞에 bullet 넣을때 */
/* #topMenu04 .menu-location .location-menu-con li.on a{padding-left:25px;}
#topMenu04 .menu-location .location-menu-con li.on a:before{content:""; position:absolute; top:50%; left:10px; width:7px; height:3px; margin-top:-1px; background-color:#f57f20} */
/* // */

/* SUB LAYOUT :: 서브메뉴 Fixed (공통) */
@media all and (min-width:1025px){
	.fixed-sub-menu.top-fixed .side-menu-inner{position:fixed; top:0px; left:0px; z-index:9999;}
}

/* SUB LAYOUT :: 모바일메뉴(공통)  */
#topMenuM01,
#topMenuM02{display:none;}

/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
#content:not(.wide){padding:100px 0}
#content.wide{padding:100px 0 0 0}

/*  SUB LAYOUT :: 상단정보 (공통) */
#contentInfoCon{position:relative; margin:0 auto 50px; text-align:center; }
#contentInfoCon .content-tit{color:#333; font-size:38px; font-weight:600; letter-spacing:-0.6px;}
#contentInfoCon .content-tit:after{display:block; content:""; width:58px; height:2px; margin:30px auto 0; background-color:#040508}
#contentInfoCon .content-sub-tit{color:#888; font-weight:300; margin-top:30px; font-size:16px; letter-spacing:-0.8px; word-break:keep-all;}
/*  SUB LAYOUT :: 상단정보(타이틀+location) */
#contentInfoCon.content-title-location{text-align:left;}
#contentInfoCon.content-title-location .content-tit{float:left;}
#contentInfoCon.content-title-location .content-tit:after{display:none;}
#contentInfoCon.content-title-location .location{float:right;}

/* ****************** MODAL LAYERPOPUP ********************** */
/* modal layer */
.modal-fixed-pop-wrapper{display:none; overflow-y:scroll; overflow-x:hidden;  position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999; background:#000; background:rgba(0,0,0,0.8);}
.modal-fixed-pop-inner{position:absolute; display:table; width:100%; height:100%; text-align:center;}
.modal-inner-box{ position:relative; display:table-cell; vertical-align:middle;}
.modal-loading{position:absolute; top:50%; left:50%; margin:-25px 0 0 -25px; z-index:10000;}
.modal-inner-content{text-align:left;}
.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 8px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg);  }
}
/* modal layer content */
.footer-modal-content{position:relative; width:96%; max-width:1000px; margin:20px auto; }
.footer-modal-content h1{font-size:24px; font-weight:600; letter-spacing:-0.5px; text-align:center; padding:0 50px 20px; color:#fff;}
.modal-close-btn{position:absolute; top:-6px; right:-6px; color:#fff; }
.modal-close-btn i{font-size:38px;}
.modal-close-btn i:hover {color:#fff}
.footer-inner-box{padding:30px; background-color:#fff; }
.footer-inner{padding:20px; height:400px; overflow-y:auto; overflow-x:hidden; border:1px solid #ddd; }

/* ****************** 사이트맵 ********************** */
/* -------- 사이트맵 01 -------- */
/* 사이트맵 01 */
.sitemap-wrapper{padding:30px; background-color:#fff;}
.sitemap-wrapper > ul{display:table; width:100%; table-layout:fixed;}
.sitemap-wrapper > ul > li{display:table-cell; vertical-align:top; text-align:center;}
.sitemap-wrapper > ul > li > h2{color:#191919; margin:0 2% 20px 2%; padding:15px; font-size:18px; background-color:#f2f2f2;  letter-spacing:-1.0px; margin-bottom:20px; font-weight:500;}
.sitemap-wrapper > ul > li .sitemap-2dep {padding:0 5% 20px;}
.sitemap-wrapper > ul > li .sitemap-2dep a{display:block; padding:10px 0; color:#666; font-size:14px; font-weight:400; line-height:1.2em;}
.sitemap-wrapper > ul > li .sitemap-2dep a:hover{color:#000; }

/* -------- 사이트맵 02 -------- */
/* 사이트맵 02 :: Layout */
#sitemapContent{	
	position:fixed; 
	top:0; left:0; right:0; bottom:0; 
	opacity:0;filter:Alpha(opacity=0); 
	visibility:hidden;   
	z-index:-1;
	-webkit-transition:all 0.3s  0.5s;
	transition:all 0.3s  0.5s;
}
#sitemapInnerCon{position:absolute; top:0; left:0; bottom:0; right:100px; border-right:1px solid #ddd; }
#sitemapContent .sitemap-bg-box{position:absolute; top:0px; left:0px; width:100%; height:100%;}
#sitemapContent .visual-intro-item{float:left; position:relative; height:100%;}
#sitemapContent .visual-intro-item:before{
	position:absolute;  left:0; top:0px; width:1px; height:0; content:""; background-color:#ddd; z-index:1; 
}
#sitemapContent .visual-intro-item:first-child:before{display:none}
#sitemapContent .visual-intro-item:after{	
	content:""; 
	position:absolute; right:0; top:0px; 
	width:100%; height:100%; 
	background: #333; 
	-webkit-transition: width .6s cubic-bezier(0.47, 0, 0.31, 1.04) 0.2s;
	transition: width .6s cubic-bezier(0.47, 0, 0.31, 1.04) 0.2s ;
}
#sitemapContent .sitemap-close-btn{position:absolute; top:40px; right:40px;}
#sitemapContent .sitemap-close-btn i{font-size:20px; color:#222;}

/* 사이트맵 02 :: 메뉴리스트 */
.sitemap-wrapper-style02{height:100%; }
.sitemap-wrapper-style02 > ul{overflow:hidden; position:relative; z-index:1; top:50%; transform:translateY(-50%);}
.sitemap-wrapper-style02 > ul > li{overflow:hidden; float:left; width:20%;height:100%;}
.sitemap-wrapper-style02 > ul > li > h2{overflow:hidden; color:#191919; font-size:18px; letter-spacing:-1.0px; margin:0% 15% 40px; font-weight:600; }
.sitemap-wrapper-style02 > ul > li:hover > h2{color:#f57f20;}
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a{
	overflow:hidden; position:relative; display:block;  padding:20px 15%; color:#777; font-size:15px; letter-spacing:-0.15px; font-weight:400; line-height:1.2;
	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a:after{
	position:absolute; top:0; left:0; width:0; content:""; height:100%; background:#f57f20;
	-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a span{position:relative; z-index:1;}
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a .gnb-icon{display:none;}
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a:hover{color:#fff; }
.sitemap-wrapper-style02 > ul > li .sitemap-2dep a:hover:after{width:100%; }
.sitemap-wrapper-style02 ul li span{
	display:block; opacity:0;filter:Alpha(opacity=50);
	-webkit-transform:translateX(-5%);
	transform:translateX(-50%);
	transition: transform .8s cubic-bezier(0.47, 0, 0.31, 1.04) 0s, opacity .8s cubic-bezier(0.47, 0, 0.31, 1.04) 0s; 
}
/* 사이트맵 open */
#sitemapContent.open{
	opacity:1.0;filter:Alpha(opacity=100); 
	visibility:visible; 
	z-index:99999; 
	background-color:#fff;
	-webkit-transition:all 0.3s  0s; 
	transition:all 0.3s 0s;
}
#sitemapContent.open .visual-intro-item:before{height:100%;}
#sitemapContent.open .visual-intro-item:after {width:0;}
#sitemapContent.open .visual-intro-item {
	-webkit-transform: scaleX(1);
	transform: scaleX(1); 
	transform-origin:right top; 
	transition-property: transform;
}
#sitemapContent.open .sitemap-wrapper-style02 ul li span{
	opacity:1.0;filter:Alpha(opacity=100);
	-webkit-transform:translateX(0);
	transform:translateX(0);
	transition: transform .8s cubic-bezier(0.47, 0, 0.31, 1.04), opacity .8s cubic-bezier(0.47, 0, 0.31, 1.04); 
}