@charset "utf-8";
/* *******************************************************
 * filename : layout_responsive.css
 * description : 전체 레이아웃 반응형 CSS
 * date : 2022-03-14
******************************************************** */

/* ========================================================
 * SETTING
======================================================== */
@media all and (max-width:1260px){
	:root{
		--area-padding: 5%;
		--header-height: 80px;
	}
}
@media all and (max-width:800px){
	:root{
		--sub-visual-height: 240px;
		--sub-menu-height: 44px;
	}
}
@media all and ( max-width: 480px ){
	:root{
		--header-height: 60px;
		--sub-visual-height: 180px;
	}
}

/* ========================================================
 * LAYOUT
======================================================== */
/* ****************** 공통레이아웃 ********************** */
@media all and (max-width:1660px){	/* max-width : (area-box width) + 60px */
	.area-box{padding:0 var(--area-padding); max-width:none;}
}
@media all and (max-width:1260px){ /* max-width : (area width) + 60px */ 
	.area{padding:0 var(--area-padding); max-width:none;}
}

/* ****************** HEADER ********************** */
@media all and ( max-width: 1366px ){
	/* -------- Header :: GNB(PC) -------- */
	#gnb > ul > li > a{font-size:18px; padding:0 40px}
	#gnb > ul > li .gnb-2dep ul li a{font-size:14px; }
}
@media all and ( max-width: 1260px ){
	.fullpage-html #header{position:relative;}
	#headerInnerWrap{position:fixed; z-index:99;}
	#header.top-fixed #headerInnerWrap{background-color:#fff; border-bottom:1px solid #eee;}
	
	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{padding-right:50px;}
	/* Header :: 사이트맵 버튼 */
	.sitemap-line-btn, .sitemap-custom-btn{display:none;}

	/* -------- Header :: GNB(Pc) -------- */
	#gnb{display:none;}
	.gnb-overlay-bg{display:none}

	/* -------- Header :: GNB(Mobile/기본스타일) -------- */
	.gnb-overlay-bg-m{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9998;}	
	#gnbM{ 
		display:block; 
		position:fixed; 
		top:0px; 
		right:-82%;
		width:80%; 
		height:100%;  
		max-width:280px; 
		background-color:#fff; 
		z-index:9999; 
		transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); 
		-webkit-transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);  
		visibility:hidden;
	}
	#gnbM.open{
		right:0px; 
		visibility:visible;
	}
	/* GNB Mobile :: 레이아웃 */
	.gnb-navigation-wrapper{position:relative; height:100%; box-sizing:border-box; padding-top:var(--header-height); overflow-y:auto;}	
	.header-util-menu-box + .gnb-navigation-wrapper{padding-top:0; height:calc(100% - var(--header-height));}
	
	/* GNB Mobile :: 메뉴영역 :: 1차 */
	#navigation > li{border-bottom:1px solid #e7e7e7;}
	#navigation > li:first-child{border-top:1px solid #e7e7e7}
	#navigation > li > a {position:relative; display:block; padding:15px var(--area-padding); color:#333; font-size:17px; font-weight:500; }
	#navigation > li.active > a{color:var(--main-color);}
	#navigation > li.has-2dep > a:before{font-family:xeicon; content: "\e914"; position:absolute; top:50%; right:var(--area-padding); font-size:1.3em; transform:translateY(-50%);}
	#navigation > li.has-2dep.active > a:before{content: "\e91b";}
	/* GNB Mobile ::  메뉴영역 :: 2차 */
	#navigation > li .gnb-2dep{display:none; padding:15px 0; background-color:#f2f2f2; }
	#navigation > li .gnb-2dep > ul > li{height:auto !important;}
	#navigation > li .gnb-2dep > ul > li > a{display:block; color:#888; font-size:14px; padding:12px var(--area-padding); }
	#navigation > li .gnb-2dep > ul > li.on > a{color:#000; font-weight:500;}
	/* GNB Mobile :: 메뉴영역 ::  3차 */
	#navigation > li .gnb-2dep > ul > li > .gnb-3dep{display:none; padding:10px; background-color:#aaa; margin:0 10px}
	#navigation > li .gnb-2dep > ul > li > .gnb-3dep > li > a{display:block; padding:8px 0; font-size:13px; color:#fff;}
	#navigation > li .gnb-2dep > ul > li > .gnb-3dep > li > a:before{display:inline-block; content:"-"; margin-right:5px;}
	
	/* -------- GNB Mobile :: 스타일2 (Full Style) -------- */
	#gnbM.gnb-style-full{ 
		top:-100%; 
		right:0;
		width:100%; 
		height:100%;  
		max-width:none; 
	}
	#gnbM.gnb-style-full.open{
		top:0px; 
	}
	.gnb-style-full .gnb-navigation-wrapper{height:auto; width:100%; position:absolute; top:0px; bottom:0px; left:0; padding-top:0;}
	.gnb-style-full .header-util-menu-box + .gnb-navigation-wrapper{top:var(--header-height); }
	.gnb-style-full-member .gnb-navigation-wrapper{bottom:var(--header-height);}
	.gnb-style-full .gnb-navigation-inner{display:table; width:100%; height:100%;}
	.gnb-style-full #navigation{
		display:table-cell;
		vertical-align:middle;
	}
	.gnb-style-full #navigation > li{
		text-align:center; border:0; 
		opacity:0;filter:Alpha(opacity=0); 
		-webkit-transform:translateY(-20px);
		transform:translateY(-20px);
		-webkit-transition:all 0s 0s;
		transition:all 0s 0s;
	}
	.gnb-style-full #navigation > li:first-child {border:0}
	.gnb-style-full #navigation > li > a {}
	.gnb-style-full #navigation > li .gnb-icon i{display:none;}
	.gnb-style-full.open #navigation > li{
		opacity:1.0;filter:Alpha(opacity=100); 
		-webkit-transform:translateY(0px); 
		transform:translateY(0px); 
		-webkit-transition:transform 0.8s, opacity 0.8s;
		transition:transform 0.8s, opacity 0.8s;
	}
	.gnb-style-full.open #navigation > li:nth-child(1){-webkit-transition-delay: 0.3s; transition-delay:0.3s;}
	.gnb-style-full.open #navigation > li:nth-child(2){-webkit-transition-delay: 0.4s; transition-delay:0.4s;}
	.gnb-style-full.open #navigation > li:nth-child(3){-webkit-transition-delay: 0.6s; transition-delay:0.6s;}
	.gnb-style-full.open #navigation > li:nth-child(4){-webkit-transition-delay: 0.7s; transition-delay:0.7s;}
	.gnb-style-full.open #navigation > li:nth-child(5){-webkit-transition-delay: 0.9s; transition-delay:0.9s;}
	.gnb-style-full.open #navigation > li:nth-child(6){-webkit-transition-delay: 0.9s; transition-delay:0.9s;}
	
	/* -------- GNB Mobile :: 언어선택 및 회원메뉴 -------- */
	/* 언어선택 */
	.header-util-menu-box .lang-select{height:var(--header-height); display:flex; align-items:center; padding:0 var(--area-padding); }
	.header-util-menu-box .lang-select li{float:left; border:1px solid #e5e5e5; margin-left:-1px}
	.header-util-menu-box .lang-select li:first-child{margin-left:0;}
	.header-util-menu-box .lang-select li > a{position:relative; display:block; min-width:18px; text-align:center ; height:40px; line-height:40px; padding:0 10px; color:#555; font-size:12px; font-weight:500;}	
	.header-util-menu-box .lang-select li.cur{border-color:var(--main-color); position:relative; z-index:1;}
	.header-util-menu-box .lang-select li.cur a{color:var(--main-color); z-index:1;}
	/* 회원메뉴 */
	.member-menu-box{
		display:flex;
		justify-content: space-around;
		height:var(--header-height);
		text-align:center; 
		padding:10px 0; padding-right:60px;
		-webkit-box-sizing: border-box;
		 box-sizing: border-box; 
	}
	.member-menu-box li{float:left; width:50%; height:100%; position:relative;}
	.member-menu-box li:before{content:""; position:absolute; top:10px; bottom:10px; left:0px; width:1px; background-color:rgba(0,0,0,0.1); content:"";}
	.member-menu-box li:first-child:before{display:none;}
	.member-menu-box li a{display:block; color:#444;  padding:6px 0}
	.member-menu-box li a i{font-size:30px;}
	.member-menu-box li a strong{display:block; padding-top:5px; font-size:13px; letter-spacing:-0.5px; font-weight:400;}
	.header-util-menu-box .lang-select + .member-menu-box{border-top:1px solid #e7e7e7; padding-right:0;}
	/* gnb full style일때 회원메뉴 위치이동 */
	.gnb-style-full .member-menu-box{position:absolute; bottom:0px; left:0px; right:0; margin-right:0px; padding:0; border-top:1px solid #e7e7e7;}
	.gnb-style-full .member-menu-box li a{padding:16px 0;}

	/* -------- Header :: 네비게이션 오픈 버튼 -------- */
	.nav-open-btn{
		display:block; position:fixed; top:24px;  right:var(--area-padding); z-index:10000; 
		height:30px;
		-webkit-transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
		transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); 
	}
	.nav-open-btn .line{
		display:block; width:28px; height:3px; background-color:#333; margin: 4px auto;
		-webkit-transition: all 0.3s ease-in-out;
	     transition: all 0.3s ease-in-out;
	}
	.nav-open-btn.active .line{background-color:#333;}
	.nav-open-btn.active .line:nth-child(2), .nav-open-btn.active .line:nth-child(4){opacity: 0;}
	.nav-open-btn.active .line:nth-child(1){
		 -webkit-transform: translateY(7px) rotate(45deg);
		  transform: translateY(7px) rotate(45deg);
	}
	.nav-open-btn.active .line:nth-child(3){
		 -webkit-transform: translateY(-7px) rotate(-45deg);
		  transform: translateY(-7px) rotate(-45deg);
	}
	
	#header.top-fixed .nav-open-btn .line{background-color:#333}
}

@media all and ( max-width: 800px ){
	/* Header :: 검색버튼 */
	.header-search-box{margin-left:5px;}
	.header-search-inner{
		position:fixed; 
		left:0; 
		top:var(--header-height); 
		height:38px; 
		width:100%;
		border-width:3px;
		padding-right:35px;
	}
	.header-search-inner .header-search-btn{right:40px;}
	.header-search-inner .header-search-close-btn{height:100%; width:38px; border-radius:0;}
}
@media all and ( max-width: 480px ){
	#header .logo img{height:30px;}

	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{padding-right:40px;}

	/* Header :: 언어선택 */
	.header-lang{width:60px; margin-left:5px}
	.header-lang strong{display:none;}
	.header-lang > ul{border-color:#ccc;}
	.header-lang > ul > li > a{padding:0; text-align:center;}
	/* Header :: 사이트맵, 네비게이션 버튼 */
	.nav-open-btn{top:15px; margin-top:0;}
	.nav-open-btn .line{width:20px; height:2px;}
	.nav-open-btn.active .line:nth-child(1){
		 -webkit-transform: translateY(6px) rotate(45deg);
		  transform: translateY(6px) rotate(45deg);
	}
	.nav-open-btn.active .line:nth-child(3){
		 -webkit-transform: translateY(-6px) rotate(-45deg);
		  transform: translateY(-6px) rotate(-45deg);
	}
	/* Header :: GNB(Mobile) */
	#navigation > li > a{font-size:15px;}
	#navigation > li .gnb-2dep > ul > li > a{font-size:13px;}

	/* Header :: 언어선택 및 회원메뉴 */
	/* 언어선택 */
	.header-util-menu-box .lang-select li > a{height:38px; line-height:38px}
	/* 회원메뉴 */
	.member-menu-box{padding:5px 0;}
	.member-menu-box li a{ padding:4px 0}
	.member-menu-box li a i{font-size:20px;}
	.member-menu-box li a strong{padding-top:5px;}
	.gnb-style-full .member-menu-box li a{padding:10px 0;}

}

/* ****************** FOOTER ********************** */
@media all and (max-width:1260px){
	/* Footer :: 푸터로고 */
	.foot-logo{float:none; display:block; padding-right:0; padding-bottom:15px;}
	/* Footer :: 푸터메뉴 */
	.foot-menu{float:none; display:inline-block;}
	/* Footer :: 사이트맵 */
	.footer-sitemap-list-con{display:none;}
	/* Footer :: 패밀리사이트 */
	.family-site-box{position:static; position:relative; top:0px; margin:15px auto 0;}
}

@media all and (max-width:800px){
	/* -------- FOOTER :: 파트너리스트 -------- */
	#footerPartnerListContent{padding:10px 0;}
	#footerPartnerListContent .area-box{padding:0}
	.footer-partner-list{padding:0 30px;}
	.footer-partner-list .partner-item-inner{height:35px; padding:0 5px;}
	.footer-partner-list .slick-arrow{width:28px; height:28px; font-size:28px; margin-top:-14px}
	.footer-partner-list .slick-arrow i{line-height:28px;}

	/* -------- FOOTER :: 레이아웃 -------- */
	#footerTop, #footerBottom{text-align:center;}
	.footer-left-con,.footer-right-con{float:none; }

	/* Footer :: 푸터로고 */
	.foot-logo img{height:30px;}
	.footer-right-con .foot-logo{text-align:center; padding-top:15px;}
	/* Footer :: 푸터메뉴 */
	.foot-menu li {padding-left:25px}
	.foot-menu li:before{left:12px}
	.foot-menu li a{font-size:14px;}
	/* .foot-menu li:before{width:3px; height:3px;} */ /* dot형태*/
	/* Footer :: SNS 리스트 */
	.foot-sns-menu{margin-top:10px}
	.foot-sns-menu ul{display:inline-block;}
	.foot-sns-menu li,
	.foot-sns-menu li:first-child{margin:0 3px}
	.foot-sns-menu li img{width:25px}
	.foot-sns-menu li a{width:25px; height:25px; line-height:25px;}
	.foot-sns-menu li a i{font-size:15px; line-height:25px;}
	/* Footer :: 정보 */
	.footer-address{}
	.footer-address .footer-address-txt{font-size:12px;}
	.footer-address p:before{display:none;}
	/* Footer :: 정보 style02 */
	.footer-address-list dl{font-size:12px;}
	/* Footer :: Copyright */
	.footer-copyright{font-size:11px;}
	/* Footer :: 패밀리사이트 */
	.family-site-box{width:150px;	}
	.family-site-box .family-site-open-btn{height:34px; line-height:34px; font-size:13px;}
	.family-site-box .family-site-open-btn:after{font-size:15px}
}

/* ****************** SUB LAYOUT ********************** */
@media all and (max-width:1260px){
	/*  SUB LAYOUT :: 비주얼 */
	#visual .visual-txt-con{padding:0}
	/*  SUB LAYOUT :: 서브메뉴(스타일2,3,4) */
	#topMenu02 .area,
	#topMenu03 .area,
	#topMenu04 .area{padding:0;}
	#topMenu02 .area,
	#topMenu03 .area{margin:0 -1px}	
	/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
	#content:not(.wide){padding:70px 15px}
	#content.wide{padding:70px 0 0 0}
}

@media all and (max-width:800px){
	/*  SUB LAYOUT :: 비주얼 */
	#visual .visual-tit{font-size:28px; }
	#visual .visual-sub-txt{font-size:13px; line-height:18px; padding-top:15px}
	/* SUB LAYOUT :: 위치정보(location) */
	.location li{font-size:12px;}
	.location li:before{margin:0 6px 0 4px; top:0px;}
	.location li i{margin-top:0px; font-size:16px;}
	/*  SUB LAYOUT :: 이전페이지,다음페이지 버튼 */
	.sub-page-controls-btn .sub-page-name{display:none}
	/*  SUB LAYOUT ::  서브메뉴(스타일1,2,3) */
	#topMenu01,
	#topMenu02,
	#topMenu03{display:none}
	/*  SUB LAYOUT :: 서브메뉴(스타일4) */
	#topMenu04 .side-menu-inner{padding-left:var(--sub-menu-height); width:auto;}
	#topMenu04 .location-to-home-btn{position:absolute; width:var(--sub-menu-height); height:var(--sub-menu-height); left:0px; top:0px; border:0;}
	#topMenu04 .location-to-home-btn i{font-size:20px; line-height:var(--sub-menu-height);}
	#topMenu04 .menu-location{width:50%;}
	#topMenu04 .menu-location > .cur-location{height:var(--sub-menu-height); border-right:0; border-left:1px solid #ddd; padding:0 30px 0 10px}
	#topMenu04 .menu-location > .cur-location span{line-height:var(--sub-menu-height); font-size:15px;}
	#topMenu04 .menu-location .location-menu-con{top:var(--sub-menu-height); left:0; padding-bottom:10px}
	#topMenu04 .menu-location .location-menu-con li a{font-size:14px; padding:7px 10px;}
	
	/*  SUB LAYOUT :: 서브메뉴 모바일 (스타일1) */
	#topMenuM01{display:block; position:relative; height:calc(var(--sub-menu-height) + 1px); } /* (+1 border height)*/
	#topMenuM01 .side-menu-inner{height:var(--sub-menu-height); padding-left:var(--sub-menu-height); border-bottom:1px solid #ddd; }
	#topMenuM01 .location-to-home-btn{position:absolute; width:var(--sub-menu-height); height:var(--sub-menu-height); left:0px; top:0px; background-color:#fff; text-align:center; }
	#topMenuM01 .location-to-home-btn i{color:var(--main-color); font-size:20px; line-height:var(--sub-menu-height);}
	#topMenuM01 .menu-location{position:relative; float:left; width:50%;}
	#topMenuM01 .menu-location > .cur-location{position:relative; display:block; width:100%; text-align:left; height:var(--sub-menu-height); padding:0 30px 0 10px; border-left:1px solid #ddd;}
	#topMenuM01 .menu-location > .cur-location span{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:var(--sub-menu-height); color:#222; font-weight:400; font-size:15px;}
	#topMenuM01 .menu-location > .cur-location .arrow{position:absolute; top:50%; right:10px; width:20px; height:20px;margin-top:-10px; font-size:20px;}
	#topMenuM01 .menu-location.open > .cur-location .arrow{transform:rotate(-180deg); margin-top:-10px;}
	#topMenuM01 .menu-location .location-menu-con{display:none; position:absolute; top:100%; left:0px; width:calc(100% - 2px); border:1px solid #ddd; border-top:0; background-color:#fff; z-index:11; }
	#topMenuM01 .menu-location.location1 .location-menu-con{width:calc(100% - 1px)}
	#topMenuM01 .menu-location .location-menu-con li a{display:block; padding:7px 10px; font-size:14px; line-height:1.5; word-break:keep-all;}
	#topMenuM01 .menu-location .location-menu-con li.on{position:relative;}
	#topMenuM01 .menu-location .location-menu-con li.on a{color:var(--main-color); font-weight:500;}
	/* 선택된메뉴앞에 bullet 넣을때 */
	/* #topMenu04 .menu-location .location-menu-con li.on a{padding-left:25px;}
	#topMenu04 .menu-location .location-menu-con li.on a:before{content:""; position:absolute; top:50%; left:10px; width:7px; height:3px; margin-top:-1px; background-color:var(--main-color)} */
	
	/*  SUB LAYOUT :: 서브메뉴 모바일 (스타일2) */
	#topMenuM02{display:block; position:relative; height:calc(var(--sub-menu-height) + 1px); } /* (+1 border height)*/
	#topMenuM02 .side-menu-inner{height:var(--sub-menu-height); border-bottom:1px solid #ddd; }
	#topMenuM02 .location-to-home-btn{position:absolute; width:var(--sub-menu-height); height:var(--sub-menu-height);; left:0px; top:0px; background-color:#fff; text-align:center; }
	#topMenuM02 .location-to-home-btn i{color:var(--main-color); font-size:20px; line-height:var(--sub-menu-height);;}
	#topMenuM02 .menu-location{position:relative;}
	#topMenuM02 .location-to-home-btn + .menu-location{margin-left:var(--sub-menu-height);}
	#topMenuM02 .menu-location > .cur-location{position:relative; display:block; width:100%; text-align:left; height:var(--sub-menu-height);; padding:0 30px 0 15px; border-left:1px solid #ddd;}
	#topMenuM02 .menu-location > .cur-location span{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:var(--sub-menu-height);; color:#222; font-weight:400; font-size:15px;}
	#topMenuM02 .menu-location > .cur-location .arrow{position:absolute; top:50%; right:10px; width:20px; height:20px;margin-top:-10px; font-size:20px;}
	#topMenuM02 .menu-location.open > .cur-location .arrow{transform:rotate(-180deg); margin-top:-10px;}
	#topMenuM02 .menu-location .location-menu-con{display:none; position:absolute; top:100%; left:0px; width:calc(100% - 2px); border:1px solid #ddd; border-top:0; background-color:#fff; z-index:11; }
	#topMenuM02 .menu-location.location1 .location-menu-con{width:calc(100% - 1px)}
	#topMenuM02 .menu-location .location-menu-con li a{display:block; padding:7px 15px; font-size:14px; line-height:1.5; word-break:keep-all;}
	#topMenuM02 .menu-location .location-menu-con li.on{position:relative;}
	#topMenuM02 .menu-location .location-menu-con li.on a{color:var(--main-color); font-weight:500;}


	/*  SUB LAYOUT :: 상단정보 (공통) */
	#contentInfoCon{margin:30px 0; }
	#contentInfoCon .content-tit{font-size:24px}
	#contentInfoCon .content-tit:after{position:static; display:block; margin-top:15px;}
	#contentInfoCon .content-sub-tit{font-size:13px; line-height:18px; margin-top:15px;}
	/*  SUB LAYOUT :: 상단정보(스타일03) */
	#contentInfoCon.content-title-location{text-align:center;}
	#contentInfoCon.content-title-location .content-tit{float:none;}
	#contentInfoCon.content-title-location .location{float:none; padding-top:23px;}

	/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
	#content:not(.wide){padding:50px 15px}
	#content.wide{padding:50px 0 0 0}
}

/* ****************** MODAL LAYERPOPUP ********************** */
@media all and ( max-width: 800px ){
	/* modal layer content */
	.footer-modal-content{width:auto; margin:50px 15px}
	.footer-modal-content h1{font-size:18px; text-align:left; padding:0 30px 15px 0}
	.modal-close-btn{right:-3px; top:-3px;}
	.modal-close-btn i{font-size:24px}
	.footer-inner-box{padding:15px}
	.footer-inner{padding:10px; height:250px;}
}