@charset "utf-8";
/* *******************************************************
 * filename : main_responsive.css
 * description : 메인 레이아웃 및 컨텐츠 반응형 CSS
 * date : 2022-08-08
******************************************************** */

/* ******************  메인 비주얼 ********************** */
@media all and ( max-width: 1280px ){
	/* 공통 :: 레이아웃 */
	#fullpage .section:not(#mainVisual){height:auto !important;}
	#fullpage .fp-section .fp-tableCell{height:auto !important;}
}
@media all and ( max-width: 800px ){
	/* 메인 비주얼 :: 이미지 */
	.main-visual-item .main-visual-pc-img{display:none;}
	.main-visual-item .main-visual-m-img{display:block;}
	/* 메인 비주얼 :: 텍스트 */
	.main-visual-txt-con .main-visual-txt1{font-size:4rem}
	/* 메인 비주얼 :: Dots */
	.main-visual-con .slick-dots-wrapper{text-align:center; bottom:10px;}
	/* 메인 비주얼 :: 화살표 */
	.main-visual-con .slick-arrow{display:none !important;}
	/* 메인 비주얼 :: 스크롤아이콘 */
	.main-scroll-icon{display:none}
}

/* ******************  메인 컨텐츠 ********************** */
/* -------- 메인 컨텐츠 :: 공통 -------- */
@media all and ( max-width: 800px ){
	/* 공통 :: 타이틀 */
	.main-tit-box{margin-bottom:30px;}
	.main-tit-box .main-tit{font-size:24px;}
	.main-tit-box .main-sub-tit{font-size:13px;}
	.main-tit-box .main-sub-tit span{display:block;}
}

/* -------- 메인 컨텐츠 :: 컨텐츠1(퀵메뉴) -------- */
  @media all and (max-width:1220px){
	.main-quick-menu-list .quick-menu-item .item-txt-box .item-tit{font-size:20px}
	.main-quick-menu-list .quick-menu-item .item-txt-box .item-sub-tit{font-size:14px; margin-bottom:0; line-height:18px;}
	.main-quick-menu-list .quick-menu-item .item-txt-box .item-sub-txt{display:none}
	.main-quick-menu-list .quick-menu-item .over-thum::before,
	.main-quick-menu-list .quick-menu-item .over-thum::after {
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
	}
 }
 @media all and (max-width:800px){
	.main-quick-menu-list{margin:0 -1%;}
	.main-quick-menu-list .quick-menu-item {width:48%; margin:1%;}
	.main-quick-menu-list .quick-menu-item .item-txt-box{bottom:10%;}
	.main-quick-menu-list .quick-menu-item .item-txt-box .item-tit{margin-bottom:0; font-size:18px; text-align:center;}
	.main-quick-menu-list .quick-menu-item .item-txt-box .item-sub-tit{display:none;}
}

/* -------- 메인 컨텐츠 :: 컨텐츠2(갤러리) -------- */
@media all and (max-width:1220px){
	.main-news-list li .bbs-inner-con{margin:-60px 15px 0 15px; padding:15px;}
	.main-news-list li .bbs-inner-con .bbs-category{font-size:12px;}
	.main-news-list li .bbs-inner-con .bbs-tit{font-size:18px; margin:10px 0;}
	.main-news-list li .bbs-inner-con .bbs-content{font-size:13px; line-height:18px;}
	.main-news-list li a:hover .bbs-inner-con{padding:15px;}
}
@media all and (max-width:800px){
	.main-news-list{max-width:480px; margin:0 auto;}
	.main-news-list li{float:none; width:100%; margin:0;}
}

/* -------- 메인 컨텐츠 :: 컨텐츠3(갤러리 슬라이드) -------- */
@media all and (max-width:1220px){
	.main-gallery-rolling-con .bbs-basic-gallery-con{margin:0 10px}
	.main-gallery-rolling-con .slick-arrow.slick-prev{left:-24px; }
	.main-gallery-rolling-con .slick-arrow.slick-next{right:-24px; }
}
@media all and (max-width:480px){
	.main-gallery-rolling-con .bbs-basic-gallery-con{ margin:0 -2px;}
	.main-gallery-rolling-con .bbs-basic-gallery-con li{margin:0 2px;}
	.main-gallery-rolling-con .slick-arrow{display:none !important;}
}

/* -------- 메인 컨텐츠 :: 컨텐츠4(갤러리 + 설명 슬라이드) -------- */
@media (max-width:800px) {
	.main-slide-photo-con{float:none; width:100%;}
	.main-slide-text-con{float:none; width:100%; margin:0; margin-top:15px; }
	.main-slide-text-item .main-slide-tit{font-size:20px; margin-bottom:15px;}
	.main-slide-text-item .main-slide-txt{font-size:13px; line-height:20px; margin-bottom:40px;}
	.main-slide-text-item .main-slide-btn{display:block; margin:0px auto; font-size:13px;}
}

/* -------- 메인 컨텐츠 :: 컨텐츠5(FIXED 배너) -------- */
@media all and (max-width:800px){
	.main-fixed-con{font-size:10px;}
}
/* -------- 메인 컨텐츠 :: 컨텐츠6(사각, 원 배너들) -------- */
/* 배너 :: 사각배너 */
@media all and (max-width:800px){
	.main-banner-list-con li .banner-inner-box{font-size:12px;}
	.main-banner-list-con li .banner-inner-box .banner-sub-txt{display:none;}
}
@media all and (max-width:640px){
	.main-banner-list-con{margin:0;}
	.main-banner-list-con li{float:none; width:100%; margin:0; margin-bottom:15px;}
}


/* -------- 메인 컨텐츠 :: 컨텐츠7(100% 풀배너) -------- */
@media (max-width:1220px) {
	.main-full-banner-box .main-full-banner-left,
	.main-full-banner-box .main-full-banner-right{
		position:static; float:left; width:50%; padding:0;
	}
}
@media (max-width:800px) {
	.main-full-banner-box .full-banner-inner{width:auto; padding:50px 15px;}
	.main-full-banner-box .full-banner-inner strong{font-size:18px; padding-bottom:15px;}
	.main-full-banner-box .full-banner-inner p{font-size:13px; line-height:20px; word-break:keep-all;}
}

/* -------- 메인 컨텐츠 :: 컨텐츠8(Global Network) -------- */
@media all and ( max-width: 1220px ){
	.global-map-con{display:none;}
	.global-map-con-m{display:block;}
	.global-map-con-m img{width:100%;}
}


/* -------- 메인 컨텐츠 :: 컨텐츠9(공지사항 게시판 + 배너) -------- */
@media all and (max-width:1220px){
	/* 컨텐츠 9 :: 공지사항 */
	.main-board-box .main-board-tit{font-size:17px; padding-bottom:18px; }
	.main-board-con{padding-top:15px;}
	.main-board-con li{margin-top:10px}
	.main-board-con li .bbs-tit{font-size:13px;}
	.main-board-con li .bbs-date{font-size:12px;}
}
@media all and (max-width:800px){
	/* 컨텐츠 9 :: 공지사항 */
	.main-board-box{float:none; width:100%; margin-bottom:15px;}
	/* 컨텐츠 9 :: 배너 */
	.main-board-banner-con{float:none; width:100%;}
	.main-board-banner-con ul{margin:0 -1%;}
	.main-board-banner-con ul li{width:48%; margin:0 1%;}
	.main-board-banner-con ul li a .main-board-thumb-cover p strong{font-size:14px}
}

/* ******************  메인 오른쪽 퀵메뉴 ********************** */
@media all and ( max-width: 1440px ){
	#rightBar{right:-56px;}
	#rightBar.fixed{visibility:hidden;opacity:0;}
}
/* ******************  메인 오른쪽 퀵메뉴 (Fullpage) ********************** */
@media all and (max-width:1366px){
	#fp-nav{right:10px;}
}
@media all and (max-width:1024px){
	#fp-nav{display:none;}
}