@charset "utf-8";
/* *******************************************************
 * filename : member.css
 * description : 로그인,회원가입,회원정보 수정등 회원메뉴에 관련된  CSS
 * date : 2019-10-07
******************************************************** */

/* ******************   공통  ********************** */
/* 공통 :: 상단 진행과정 바 */
.join-process-bar-con > ol{overflow:hidden;  margin:50px auto; text-align:center;}
.join-process-bar-con > ol > li{display:inline-block; padding-left:80px; overflow:hidden; text-align:center; letter-spacing: -0.5px; background:url(/images/board/process_arrow.png) no-repeat 0 50%}
.join-process-bar-con > ol > li:first-child{background:none;}
.join-process-bar-con > ol > li .process-icon{float:left; width:48px; height:48px; color:#fff; background-color:#ccc; -webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%;}
.join-process-bar-con > ol > li.current .process-icon{background-color:#424446}
.join-process-bar-con > ol > li .process-icon i{font-size:24px; line-height:48px; }
.join-process-bar-con > ol > li dl{float:left; width:120px; padding-left:15px; text-align:left; padding-top:5px;}
.join-process-bar-con > ol > li dl dt{height:20px; font-size:13px; color:#888;}
.join-process-bar-con > ol > li dl dd{height:28px; font-size:17px; color:#333;}


/* 공통 :: 회원폼 레이아웃 */
.member-con-inner{padding:60px 0;border:1px solid #ddd; }
.member-search-con-inner{padding:75px 0; border:1px solid #ddd; border-top:0;}
.member-form-con{width:96%; max-width:620px; margin:0px auto;}	/* 가로값 설정 */
.member-form-con-txt{padding-bottom:50px; text-align:center; letter-spacing:-0.75px;}
.member-form-con-txt strong{display:block; font-size:24px; color:#333; font-weight:500;}
.member-form-con-txt b{font-weight:600; color:#000;}
.member-form-con-txt p{color:#666; font-size:14px; line-height:22px; font-weight:300; }
.member-form-con-txt p:before{display:block; content:""; width:30px; height:2px; background-color:#ccc; margin:20px auto;}
.form-tit{display:block; color:#464646; font-size:20px; letter-spacing:-0.3px; font-weight:500; margin-bottom:15px;}
.form-list li{overflow:hidden; margin-top:-1px;}
.form-list li:first-child{margin-top:0;}
.form-list li label{line-height: 30px; color:#222; font-size:13px; letter-spacing:-0.5px;}
.form-input-box{float:left; width:80%;}
.form-input{
    position:relative; width:100%; box-sizing:border-box; background:none; border:0px;  color:#707070; font-size:14px; border:1px solid #ddd; letter-spacing:-0.3px; font-weight:400; height:50px; text-indent:10px; color:#aaa;
    -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.form-select{
   width:30%; background:none; border:0px;  color:#707070; font-size:15px; border:1px solid #ddd; letter-spacing:-0.3px; font-weight:400; height:50px; color:#aaa;
    -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s
}
.form-input:focus,.form-select:focus{color:#333; border-color:#000; z-index:1;}

/* 공통 :: 회원관련 ::  탭 */
.member-tab-con-inner{border-top:0px;}
.member-tab-list-con ul{overflow:hidden; }
.member-tab-list-con ul li{float:left; width:50%; position:relative; }
.member-tab-list-con ul li:first-child{margin-left:0;}
.member-tab-list-con ul li a{display:block; height:60px; line-height:60px; text-align:center; border:1px solid #ddd; border-bottom:1px solid #3a4050; color:#686767;  font-size:18px; letter-spacing:-0.5px;}
.member-tab-list-con ul li.selected{z-index:1;}
.member-tab-list-con ul li.selected a{height:61px; border-color:#3a4050; color:#3a4050; border-bottom:0; font-weight:600}

/* ******************   LOGIN  ********************** */
/* LOGIN :: 아이콘로그인 */
.form-list-icon{text-align:left; margin-bottom:20px;}
.form-list-icon > li{border:1px solid #ddd; background-color:#fff; padding:0px 10px; margin-top:10px;}
.form-list-icon > li:first-child{margin-top:0;}
.form-list-icon > li .login-input{height:54px; width:80%; width:calc(100% - 50px);  background:none; border:0; color:#aaa; font-size:14px;}
.form-list-icon > li .login-input:focus{color:#333;}
.form-list-icon > li i{vertical-align:middle; color:#888; width:35px;}
/*  LOGIN :: 아이디저장 및 하단영역 */
.id-save-btn{text-align:right; color:#333;font-size:15px; letter-spacing:-0.3px;  margin-top:30px; }
.id-save-btn input[type="checkbox"]{vertical-align:middle;}
.form-box-list{height:50px; line-height:50px; text-align:center; border:1px solid #ddd; -webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px; border-radius:3px;}
.form-box-list a{color:#464646; font-size:15px; letter-spacing:-0.3px;}
.form-box-list a:first-child{margin-left:-10px;}
.form-box-list a:before{display:inline-block; content:""; background-color:#ddd; width:1px; height:15px; vertical-align:middle; margin:-2px 20px 0 20px;}
.form-box-list a:first-child:before{display:none;}
.form-box-list a:hover{color:#000}

/* ******************   LOGIN ::  SNS/SHOP  ********************** */
/* LOGIN :: SNS LOGIN */
.member-con-inner-sns{position:relative; overflow:hidden;}
.member-con-inner-sns:before{position:absolute; top:30px; bottom:30px; left:50%; width:1px; background-color:#eee; content:"";}
.member-con-inner-sns .member-con-inner{padding:60px 30px;}
.member-con-inner-sns .member-form-con{float:left; width:50%; -webkit-box-sizing: border-box; padding-left:30px;
-moz-box-sizing: border-box;
 box-sizing: border-box; }
.member-con-inner-sns .member-form-con:first-child{padding-left:0; padding-right:30px;}
.member-con-inner-sns .member-form-sub-txt{font-size:13px; line-height:20px; color:#333;}
.member-con-inner-sns .member-form-con .sns-login-list li{overflow:hidden; position:relative; padding-top:10px; -webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
.member-con-inner-sns .member-form-con .sns-login-list li:first-child{padding-top:0;}
.member-con-inner-sns .member-form-con .sns-login-list li a,
.member-con-inner-sns .member-form-con .sns-login-list li button{display:block; width:100%; height:50px; background-color:#888; color:#fff; font-size:16px; text-align:left; text-indent:70px; }
.member-con-inner-sns .member-form-con .sns-login-list .sns-icon{position:absolute; width:50px; height:50px; border-right:1px solid rgba(255,255,255,0.5); text-align:center; line-height:50px;}
.member-con-inner-sns .member-form-con .sns-login-list .sns-icon i{color:#fff; font-size:20px; line-height:50px}
/* LOGIN :: SHOP LOGIN */
.member-con-inner-shop{overflow:hidden;padding:75px 40px; border:1px solid #ddd; }
.member-con-inner-shop .member-form-con{display:inline-block; vertical-align:middle; width:44%; padding-left:20px;}	/* 오른쪽영역 */
.member-con-inner-shop .member-form-con:first-child{width:51.5%; border-right:1px solid #ddd; padding-right:20px; padding-left:0;}	/* 왼쪽영역 */ 
.member-con-inner-shop .member-form-con .cm-btn-controls{padding-top:10px;}
.member-con-inner-shop .member-form-nonmember{overflow:hidden; border-top:1px solid #ddd; padding-top:25px; margin-top:25px;}
.member-con-inner-shop .member-form-nonmember-con{position:relative; float:left; width:50%; padding:15px; box-sizing:border-box; }
.member-con-inner-shop .member-form-nonmember-con:first-child{padding-left:0;}
.member-con-inner-shop .member-form-nonmember-con:last-child{padding-right:0;}
.member-con-inner-shop .member-form-nonmember-con:last-child:before{display:inline-block; content:""; width:1px; height:100%; position:absolute;  top:0px; left:-1px; background-color:#ddd;}
.member-con-inner-shop .member-form-sub-txt{font-size:13px; line-height:20px; color:#333; word-break:keep-all;}

/* ******************  아이디, 비번 찾기  ********************** */
/* --------  -------- */
/* 아이디 찾기 :: 결과 */
.id-check-inner .customer-id{color:#969696; font-size:18px; padding:50px 0; border-top:1px solid #ddd; border-bottom:1px solid #ddd; line-height:30px; text-align:center; font-weight:300; letter-spacing:-1px;}
.id-check-inner .customer-id strong{color:#343434; font-weight:500;}

/* ******************  JOIN  ********************** */
/* -------- JOIN 01 -------- */
.join-step-con{padding-bottom:50px;}
.join-step-con .join-tit{color:#464646; font-size:20px; letter-spacing:-0.3px; font-weight:500; padding-bottom:15px;}
.join-agreement-con{border:1px solid #ddd; height:150px; overflow-x:hidden; overflow-y:auto; padding:20px 10px; background-color:#f2f2f2;}
.agree-txt{padding-top:10px; font-size:13px; letter-spacing:-0.3px; color:#868686;}
 
/* -------- JOIN 02 / MODIFY -------- */
.join-form-con{position:relative; border-top:1px solid #464646;}
.essential-txt{position:absolute; top:-30px; right:0px; color:#464646; font-size:13px; letter-spacing:-0.3px;}
.essential-icon{color:#cf0505; margin-right:3px; vertical-align:middle;}
/* JOIN :: 기본 */
.join-form-tbl{width:100%;}
.join-form-tbl th,.join-form-tbl td{padding:10px 15px; border-bottom:1px solid #ddd;}
.join-form-tbl th{text-align:left; color:#666; font-weight:500; font-size:14px; line-height:20px; word-break:keep-all;}
.join-form-tbl .input-basic,
.join-form-tbl .select-basic{
	height:34px; border:0px; width:50%; max-width:160px; background-color:#fff; border:1px solid #d2d2d2; font-size:14px; vertical-align:middle;
}
.join-form-tbl .input-basic{text-indent:10px;}
.join-form-tbl .width100{max-width:none;}
.join-form-tbl .input-basic:focus{border-color:#333;}
.join-form-tbl .select-basic{height:38px;}
.join-form-tbl .join-sub-btn{display:inline-block; min-width:114px; padding:0 10px; height:38px; border:1px solid #464646; vertical-align:middle; text-align:center; color:#464646; font-size:14px; font-weight:400; margin-left:10px;}
.join-form-tbl .join-sub-btn:hover{background-color:#464646; color:#fff;}
.join-form-tbl .join-sub-txt{display:inline-block; margin-left:10px; color:#828282; font-weight:400; font-size:11px; font-family:"돋움",dotum,sans-serif; letter-spacing:-0.5px;}
.join-form-tbl .join-sub-txt2{display:block; margin-top:5px; color:#828282; font-weight:400; font-size:11px; font-family:"돋움",dotum,sans-serif; letter-spacing:-0.5px;}
.join-form-tbl .font-ok{color:#0095ff; font-weight:400;}
.join-form-tbl .font-caution{color:#ff3800; font-weight:400;}
.join-form-tbl .hypen{margin:0 5px;}
/* JOIN :: 추가스타일 */
.birth-input .select-basic, .tel-input .input-basic, .tel-input .select-basic{max-width:100px}
.birth-input br{display:none;}
.email-input .input-basic, .email-input .select-basic{margin-bottom:3px;}
.address-input .input-basic{margin-top:6px;}
.address-input .input-basic:first-child{margin-top:0;}
.join-form-tbl fieldset{padding:8px 0;}
.join-form-tbl .email-input, .join-form-tbl .birth-input, .join-form-tbl .address-input, .join-form-tbl .tel-input{padding:0;} 
.join-form-tbl label,.join-form-tbl input[type="checkbox"],.join-form-tbl input[type="radio"]{vertical-align:bottom;}
.join-form-tbl .read-only-data{padding:10px 0; font-size:15px; color:#333;}

/* -------- JOIN FINISH  -------- */
/* JOIN FINISH :: 01 */
.join-finish-con{width:90%; margin:0px auto; max-width:570px; }
.join-finish-icon{display:block; width:120px; height:120px; text-align:center; background-color:#ccc; color:#fff; margin:30px auto; -webkit-border-radius:100em;-moz-border-radius:100em;-o-border-radius:100em;border-radius:100em;}
.join-finish-icon i{margin-top:24px; font-size:70px;}
.join-finish-txt{text-align:center; line-height:1.6em; font-size:18px; color:#333;}
.join-finish-txt strong{font-weight:600;}
/* JOIN FINISH :: 02 */
.join-finish-tit-con{height:80px; border-bottom:1px solid #ddd;  text-align:center;  letter-spacing:-0.3px; margin-bottom:40px;}
.join-finish-tit{font-weight:400; color:#5e5e5e; font-size:24px; }
.join-finish-tit strong{color:#333; font-weight:600;}
.join-finish-sub-tit{padding-top:10px; color:#9b9b9b; font-size:18px; font-weight:400; line-height:24px;}
.join-finish-sub-tit b{color:#000; font-weight:500; }
.join-finish-member-info{overflow:hidden; padding:0 2% 20px 2%;}
.join-finish-member-info .member-info-left-icon{float:left; width:30%; max-width:178px;}
.join-finish-member-info .member-info-left-icon i{display:block; width:120px; height:120px; line-height:110px; font-size:70px; vertical-align:top; text-align:center; background-color:#8c98aa; color:#fff; }
.member-info-right-con{float:left; width:70%; padding-top:8px;}
.member-info-right-con dl{overflow:hidden;}
.member-info-right-con dl dt, .member-info-right-con dl dd{float:left; letter-spacing:-0.3px; padding:10px 0;}
.member-info-right-con dl dt{width:30%; color:#686767; font-size:15px; }
.member-info-right-con dl dt i{font-size:16px; color:#ccc; margin-right:3px; }
.member-info-right-con dl dd{width:70%; color:#838383; font-size:14px;}
.member-info-right-con dl .member-divine{display:inline-block; vertical-align:middle; color:#fff; padding:5px 10px; font-size:13px; background-color:#6b6b6b; margin-left:5px; margin-top:-3px;}


/* ******************   공통  ********************** */
@media all and (max-width:1220px){
	/* 공통 :: 상단 진행과정 바 */
	.join-process-bar-con > ol > li dl{width:100px; padding-left:10px;}
	.join-process-bar-con > ol > li dl dt{font-size:12px;}
	.join-process-bar-con > ol > li dl dd{font-size:13px;}
}
@media all and (max-width:800px){
	/* 공통 :: 상단 진행과정 바 */
	.join-process-bar-con > ol > li{display:block; float:left; width:33.33%; padding-left:0; background-size:8px auto}
	.join-process-bar-con > ol > li .process-icon{float:none; display:block; width:40px; height:40px; line-height:40px; margin:0px auto;}
	.join-process-bar-con > ol > li .process-icon i{font-size:18px; line-height:40px;}
	.join-process-bar-con > ol > li dl{float:none; width:auto; padding-left:0; padding-top:10px; text-align:center;}
	.join-process-bar-con > ol > li dl dt, .join-process-bar-con > ol > li dl dd{height:auto;}
	.join-process-bar-con > ol > li dl dd{padding-top:3px;}

	/* 공통 :: 회원폼레이아웃 */
	.member-form-con{padding:30px 0;}
	.member-form-con-txt{padding-bottom:30px; }
	.member-form-con-txt strong{font-size:20px; font-weight:bold; word-break:keep-all; line-height:24px;}
	.member-form-con-txt p{width:80%; margin:0px auto; font-size:11px; line-height:16px; word-break:keep-all;}
	.member-form-con-txt p:before{width:20px; height:1px; margin:15px auto}
	.form-tit{text-align:center; margin-bottom:25px;}
	.form-input{font-size:13px; height:40px;}

	/* 공통 :: 회원관련 ::  탭 */
	.member-tab-list-con ul li a{height:40px; line-height:40px; font-size:14px;}
	.member-tab-list-con ul li.selected a{height:41px;}
}

/* ******************   LOGIN  ********************** */
@media all and (max-width:800px){
	/* LOGIN :: 아이콘로그인 */
	.form-list-icon{margin-bottom:15px;}
	.form-list-icon > li{margin-top:5px;}
	.form-list-icon > li .login-input{height:40px; width:calc(100% - 30px); font-size:13px;}
	.form-list-icon > li i{width:25px; font-size:20px;}
	/*  LOGIN :: 아이디저장 및 하단영역 */
	.id-save-btn{font-size:12px; margin-top:0px;}
	.id-save-btn input[type="checkbox"]{width:20px; height:20px;}
	.id-save-btn + .cm-btn-controls{padding-top:15px;}
	.form-box-list{height:44px; line-height:44px; }
	.form-box-list a{font-size:13px;}
	.form-box-list a:before{margin:-2px 10px 0 10px;}
}

/* ******************   LOGIN ::  SNS/SHOP  ********************** */
@media all and (max-width:1220px){
	.member-con-inner-shop, .member-con-inner-sns{padding:25px}
	/* LOGIN :: SNS LOGIN */
	.member-con-inner-sns .member-form-con{padding-left:15px;}
	.member-con-inner-sns .member-form-con:first-child{padding-right:15px;}
	/* LOGIN :: SHOP LOGIN */
	.member-con-inner-shop .member-form-con, .member-con-inner-shop .member-form-con:first-child{display:block; width:100%; padding:0; }
	.member-con-inner-shop .member-form-con:first-child{border-right:0; padding-bottom:30px;}
}
@media all and (max-width:800px){
	.member-con-inner-sns .member-con-inner{padding:35px 25px}
	.member-con-inner-sns:before{display:none;}
	.member-con-inner-shop, .member-con-inner-sns{padding:40px 15px;}
	/* LOGIN :: SNS LOGIN */
	.member-con-inner-sns .member-form-con, .member-con-inner-sns .member-form-con:first-child{
		display:block; float:none; width:100%; padding:0; max-width:480px; margin:0px auto;
	}
	.member-con-inner-sns .member-form-con:first-child{border-right:0; padding-bottom:50px;}
	.member-con-inner-sns .member-form-con .sns-login-list li{padding-top:5px;}
	.member-con-inner-sns .member-form-con .sns-login-list li a,
	.member-con-inner-sns .member-form-con .sns-login-list li button{height:40px; text-indent:50px; font-size:14px;}
	.member-con-inner-sns .member-form-con .sns-login-list .sns-icon{width:40px; height:40px; line-height:40px;}
	.member-con-inner-sns .member-form-con .sns-login-list .sns-icon i{line-height:40px;}
	/* LOGIN :: SHOP LOGIN */
	.member-con-inner-shop .member-form-shop-con{width:100%; }
	.member-con-inner-shop .member-form-shop{text-align:center; padding:20px 0;}
	.member-con-inner-shop .member-form-shop a{max-width:none; width:100%;}
	.member-con-inner-shop .member-form-nonmember{border-top:0; margin-top:0; padding-top:0;}
	.member-con-inner-shop .member-form-nonmember-con{float:none; width:100%; padding:20px 0; border-top:1px solid #ddd;}
	.member-con-inner-shop .member-form-nonmember-con:last-child:before{display:none;}
}


/* ******************  아이디, 비번 찾기  ********************** */
@media all and (max-width:800px){
	/* 아이디 찾기 :: 결과 */
	.id-check-inner .customer-id{font-size:15px; padding:30px 0; line-height:24px;}
}

 /* ******************  JOIN 02 / MODIFY  ********************** */
@media all and (max-width:800px){
	/* JOIN 01 */
	.join-step-con{padding-bottom:30px;}
	.join-step-con .join-tit{font-size:16px; padding-bottom:10px;}
	.join-agreement-con{height:80px;}
	/* JOIN 02 */
	.essential-txt{font-size:11px; top:-20px; font-weight:300;}
	.join-form-tbl th,.join-form-tbl td{padding:5px;}
	.join-form-tbl th{width:30%; font-size:13px; }
	.join-form-tbl td{width:70%;}
	.join-form-tbl .input-basic,
	.join-form-tbl .select-basic{height:30px; font-size:13px; text-indent:4px; max-width:300px; }
	.join-form-tbl .select-basic{height:34px;}
	.join-form-tbl .join-sub-btn{min-width:auto; width:45%; height:32px; max-width:150px;  margin-left:5px; font-size:12px; padding:0;}
	.join-form-tbl .join-sub-txt, .join-form-tbl .join-sub-txt2{display:block; margin-left:0; margin-top:5px; word-break:keep-all; line-height:15px; }
	.birth-input br{display:block;}
	.birth-input .select-basic:first-child{margin-bottom:3px;}
	.email-input .input-basic{margin:0;}
	.email-input .select-basic{width:100% !important; max-width:none; margin-top:3px;}
	.address-input .input-basic{margin-top:3px;}
	.join-form-tbl .hypen{margin:0 2px;}
}
@media all and (max-width:359px){
	.join-form-tbl .join-sub-btn{max-width:70px; font-size:11px;}
	.email-input .input-basic{width:30% !important;}
}


 /* ******************  JOIN FINISH ********************** */
@media all and (max-width:800px){
	/* JOIN FINISH :: 01 */
	.join-finish-icon{width:80px; height:80px; }
	.join-finish-icon i{font-size:45px; line-height:30px}
	.join-finish-txt{font-size:14px; line-height:1.3em; word-break:keep-all;}
	/* JOIN FINISH :: 02 */
	.join-finish-tit-con{height:auto; margin-bottom:20px; padding-bottom:20px; }
	.join-finish-tit{font-size:18px; line-height:20px;  word-break:keep-all;}
	.join-finish-sub-tit{font-size:12px; word-break:keep-all;}
	.join-finish-member-info{padding:15px;}
	.join-finish-member-info .member-info-left-icon{display:none;}
	.member-info-right-con dl {margin-bottom:15px;}
	.member-info-right-con dl dt, .member-info-right-con dl dd{float:none; width:auto; padding:0; }
	.member-info-right-con dl dt{font-size:13px; padding-bottom:7px; }
	.member-info-right-con dl dt i{margin-top:-2px; vertical-align:middle;}
	.member-info-right-con dl dd{font-size:15px; color:#222; line-height:1.5; font-weight:500; padding-left:22px;}
}
